:root {
	--color-accent: #f7df1e;
}

.skills {
	background-image: #181c28;
}
.skills__wrapper {
	margin: auto;
	width: 950px;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas: 
		"react vue     js   "
		"react testing agile"
		"html  html    tech "
}
.skills__container {
	/*box-shadow: var(--shadow-border-light);*/
	/*background-color: var(--color-light);*/
	padding: 20px;
	border: 1px solid #000;
}
.skills__header {
	margin-bottom: 10px;
	padding: 5px 10px;
	border-bottom: 1px solid var(--color-accent);
	text-transform: uppercase;
	color: var(--color-accent);
}
.skills__list {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.skills__list-item {
	margin: 4px;
	padding: 2px 7px;
	border-radius: var(--border-radius);
	font-size: var(--font-xxs);

	border: 1px solid rgba(247, 223, 30, 0.15);
	color: rgba(247, 223, 30, 0.65);
}
