.contact .content {
	display: grid;
	grid-template-columns: repeat(auto-fit, 100px);
	grid-gap: 70px;
}
.contact .content .contact-icon {
	margin: 0px;
	width: auto;
	height: 100px;
}
.contact {
	background-image: url(../img/contact/bg.jpg);
	position: relative;
}
.contact .content {
	z-index: 1;
}
.contact:before {
	content: "";
	display: block;
	position: absolute;
	width: 50%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(var(--color-dark), 0.45);
}
.contact:after {
	content: "";
	display: block;
	position: absolute;
	width: 50%;
	height: 100%;
	top: 0;
	right: 0;
	background-color: rgba(var(--color-dark), 0.65);
}
.contact h2 {
	z-index: 1;
}
.contact .contact-icon {
	text-decoration: none;
	color: #fff;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 50%;
	cursor: pointer;
	transition: 0.4s;
}
.contact .contact-icon:hover {
	transform: scale(1.05);
}
.contact .contact-icon:before {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;

	content: '';
	width: 35px;
	height: 35px;
}

.contact-icon:nth-child(1):before { background-image: url(../img/svg/github.svg);    }
.contact-icon:nth-child(2):before { background-image: url(../img/svg/codepen.svg);   }
.contact-icon:nth-child(3):before { background-image: url(../img/svg/vk.svg);        }
.contact-icon:nth-child(4):before { background-image: url(../img/svg/facebook.svg);  }
.contact-icon:nth-child(5):before { background-image: url(../img/svg/instagram.svg); }
.contact-icon:nth-child(6):before { background-image: url(../img/svg/email.svg);     }

/*******************************************
ADAPTIVE
*******************************************/

@media screen and (max-width: 545px) {
	.contact {
		background-image: url(../img/contact/bg-small.jpg);
	}

    .contact .contact-icon {
        width: 80px;
        height: 80px;
    }
    .contact .contact-icon:before {
        width: 25px;
        height: 25px;
    }

    .contact .content {
        grid-template-columns: repeat(auto-fit, 80px);
    }
    .contact .content .contact-icon {
        height: 80px;
    }
}
