
:root {
	--color-white:       255, 255, 255;  /* #ffffff */
	--color-black:       0, 0, 0;        /* #000000 */
	--color-gray-light:  248, 249, 250;  /* #f8f9fa */
	--color-gray-dark:   175, 184, 193;  /* #afb8c1 */
	--color-blue-violet: 99, 66, 245;    /* #6342f5 */
	--color-blue-dark:   36, 41, 47;     /* #24292f */

	--shadow:
		0 16px 24px 2px rgba(33,37,41,.02), 
		0 6px 30px 5px rgba(33,37,41,.04), 
		0 8px 10px -5px rgba(33,37,41,.1);

	--font-segoe: "Segoe UI", Helvetica, Arial;
	--font-consolas: Consolas;
}

/***************************************************
COMMON
/***************************************************/
*, *:after, *:before {
    box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

/***************************************************
SCROLLBAR
/***************************************************/
* {
	scrollbar-color: rgba(var(--color-black), .4) rgba(var(--color-black), .1);
	scrollbar-width: thin;
}
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-thumb {
	background-color: rgba(var(--color-black), .4);
	border-radius: 2px;
}
::-webkit-scrollbar-track {
	background-color: rgba(var(--color-black), .1);
}

