
body {
	line-height: 1.7;
	font-size: 16px;
	max-width: 1200px;
	margin: auto;
	padding: 20px;
}


/***************************************************
TAGS
/***************************************************/
h1 {
	font-size: 25px;
	margin: 0;
	text-align: left;
}
h2 {
	margin: 5px 0px 15px 0px;
	padding: 15px;
	font-size: 22px;
}
h3 {
	margin: 0;
	text-align: left;
	font-size: 18px;
    color: #444444;
}
h4 {
	margin: 15px 0px 15px 0px;
	padding-bottom: 5px;
}
em {
	color: #690;
	font-style: normal;
}
i {
	color: grey;
}
hr {
    background-color: #ddd;
    border: none;
    height: 1px;
    margin: 30px 0;
}
summary {
	cursor: pointer;
	outline: none;
}
section {
    margin-top: 20px;
}


/***************************************************
COMMON
/***************************************************/
.wrapper {
	margin-bottom: 30px;
}


/***************************************************
MENU
/***************************************************/
.menu__list {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}
.menu__list_item {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-right: 20px;
}
.menu__list_item:last-child {
	margin-right: 0;
}
.menu__list_link {
    display: block;
	color: #4b4b4d;
	transition: 0.4s;
	text-decoration: none;
	padding: 2px 0px;
	color: rgba(5, 25, 55, .9);
	font-weight: 500;
	border: 1px solid transparent;
}
.menu__list_link:hover {
	border-bottom: 1px solid rgba(5, 25, 55, .5);
}
.menu__list_link-accent {
	background-color: rgba(22, 36, 84, .8);
	color: #fff;
	border-radius: 20px;
	min-width: 50px;
	text-align: center;
}
.menu__list_link-accent:hover {
	background-color: #000;
}
.menu__list_item-splitter {
	width: 2px;
	height: 20px;
	display: inline;
	background-color: rgba(5, 25, 55, .2);
	border-radius: 10px;
	margin-right: 20px;
}

/***************************************************
HEADER
/***************************************************/
.header__container {
	display: flex;
    margin-top: 30px;
    background-color: #fff;
}
.header__logo {
	width: 400px;
	height: 550px;
	flex-shrink: 0;
	background-image: url(../img/profile/ava.png);
	background-position: center center;
	background-size: cover;
}
.header__content {
	padding: 0 50px;
}
.header__text {
	margin: 0;
	margin-top: 30px;
    margin-bottom: 20px;
    padding: 0;
}

/***************************************************
LIST
/***************************************************/
.list__container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 5px;
}
.list__link {
    padding-left: 20px;
    display: block;
	color: #4b4b4d;
	transition: 0.4s;
	text-decoration: none;
}
.list__link::after {
	content: '';
	display: block;
	border-bottom: 1px dashed #4b4b4d;
	opacity: .45;
}
.list__link:hover {
	color: #6342f5;
	opacity: 1;
}


/***************************************************
PROJECTS
/***************************************************/
.projects__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.projects__item {
	background-color: rgb(var(--color-white));
	box-shadow: var(--shadow);
}

.projects__logo {
    display: flex;
	width: 100%;
	height: 230px;
	background-color: #f8f9fa;
	box-shadow: inset 0 0 2px 0 rgba(227, 227, 168, .2);
	border: 4px solid #fff;
	border-radius: 10px;
	transition: 0.5s;
}
.projects__logo:hover {
	filter: grayscale(50%) opacity(50%);
	background-color: rgba(227, 227, 168, .4);
}
.projects__logo_item {
	width: 70%;
	height: 70%;
	margin: auto;
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	transition: 1s;
	filter: drop-shadow(2px 2px 2px #162454);
}

.projects__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
	padding: 20px;
}
.projects__description {
	margin-top: 20px;
	border-left: 4px solid rgba(22, 36, 84, .1);
	padding-left: 10px;
	min-height: 50px;
	display: flex;
	align-items: center;
	line-height: 1.4;
}
.projects__links {
    margin-top: 20px;
    color: #000;
}
.projects__links_item {
	color: #666666;
	transition: 0.4s;
    line-height: 5px;
    text-decoration: none;
}
.projects__links_item:hover {
	color: #000;
}


/***************************************************
SOCIAL
/***************************************************/
.socialContainer {
	display: flex;
	flex-wrap: wrap;
	margin-top: 30px;
}
.socialLink {
	display: block;
	width: 32px;
	height: 32px;
	margin-right: 10px;
	margin-top: 10px;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	filter: invert(35%);
	opacity: .9;
	transition: 0.4s;
}
.socialLink:last-child {
	margin-right: 0;
}
.socialLink:hover {
	filter: invert(0);
	opacity: 1;
}
.socialLink[data-title]:hover::after {
	content: attr(data-title);
	position: absolute;
	top: calc(100% + 10px);
	left: -100%;
	width: calc(100% * 3);
	color: #000;
	text-align: center;
}


/***************************************************
ADAPTIVE
/***************************************************/
@media screen and (max-width: 1055px) {
	.header__container {
		align-items: center;
		padding-bottom: 30px;
	}
	.header__logo {
		width: 200px;
		height: 200px;
		border-radius: 50%;
		background-position: top top;
		background-image: url(../img/profile/ava-small.png);
	}
}

@media screen and (max-width: 1150px) {
    .projects__container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 900px) {
    .header__container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .header__logo {
    	margin-top: 30px;
    	margin-left: 50px;
    	margin-right: 50px;
    }
    .projects__container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 660px) {
	.header__logo {
		margin: 20px auto;
		margin-bottom: 0;
	}
	.header__text {
		margin-top: 10px;
		margin-bottom: 10px;
	}
    .header__content {
        padding: 20px;
    }
    .projects__container {
        grid-template-columns: repeat(1, 1fr);
        width: 70%;
        margin: auto;
    }
	.header__container {
		margin-top: 10px;
	}
    .list__container {
        grid-template-columns: 1fr;
    }
    .list__link {
        padding: 0;
    }
}
@media screen and (max-width: 450px) {
	.projects__container {
		width: 100%;
	}
	.menu__list_item-splitter {
		display: none;
	}
}
