
body {
	max-width: 1200px;
	margin: auto;
	padding: 20px;
	padding-bottom: 50px;
	line-height: 1.7;
}


/***************************************************
COMMON
/***************************************************/
.h1 {
	font-size: 25px;
	margin: 0;
	text-align: left;
}
.h2 {
	font-size: 22px;
	margin: 5px 0px 15px 0px;
	padding: 15px 0px;
}
.h3 {
	font-size: 18px;
	margin: 0;
	text-align: left;
	color: rgba(var(--color-blue-violet), .8);
}
.section {
    margin-top: 20px;
}


/***************************************************
MENU
/***************************************************/
.menu__list {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

.menu__item {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-right: 20px;
}
.menu__item:last-child {
	margin-right: 0;
}

.menu__link {
    display: block;
	border: 1px solid transparent;
	padding: 2px 0px;
	font-weight: 500;
	text-decoration: none;
	color: rgba(var(--color-blue-dark), .9);
	transition: var(--transition);
}
.menu__link:hover {
	color: rgb(var(--color-blue-violet));
}

.menu__link_accent {
	min-width: 50px;
	border-radius: 20px;
	text-align: center;
	box-shadow: var(--shadow);
	background-color: rgba(var(--color-blue-violet), .8);
	color: rgb(var(--color-white));
}
.menu__link_accent:hover {
	background-color: rgb(var(--color-black));
	color: rgb(var(--color-white));
}


/***************************************************
PROFILE
/***************************************************/

/* profile  */
.profile__container {
	display: flex;
    margin-top: 30px;
    background-color: rgb(var(--color-white));
}
.profile__logo {
	width: 400px;
	height: 550px;
	flex-shrink: 0;
	background-image: url(../img/profile/ava.png);
	background-position: center center;
	background-size: cover;
}
.profile__content {
	padding: 50px;
}
.profile__header {
	margin: 0;
	padding: 0;
    margin-bottom: 25px;
    line-height: 1;
}

/* stack */
.profile__stack {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 5px 20px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.profile__stack-badge span {
	margin-right: 5px;
	padding: 3px 5px;
	font-size: 14px;
	border-radius: 6px;
	text-decoration: none;
	background-color: rgba(var(--color-gray-medium), .15);
	color: rgba(var(--color-blue-gray));
	transition: var(--transition);
}

/* social */
.profile__social {
	display: flex;
	flex-wrap: wrap;
}
.profile__social-link {
	display: block;
	width: 30px;
	height: 30px;
	margin-right: 10px;
	margin-top: 10px;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	opacity: .30;
	transition: var(--transition);
}
.profile__social-link:last-child {
	margin-right: 0;
}
.profile__social-link:hover,
.profile__social-link_active {
	filter: invert(0);
	opacity: .9;
}
.profile__social-link[data-title]:hover::after {
	content: attr(data-title);
	position: absolute;
	top: calc(100% + 10px);
	left: -100%;
	width: calc(100% * 3);
	text-align: center;
	color: rgb(var(--color-black));
}


/***************************************************
PROJECTS
/***************************************************/
.projects__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.projects__item {
	background-color: rgb(var(--color-white));
	box-shadow: var(--shadow);
}

.projects__logo {
    display: flex;
	width: 100%;
	height: 200px;
	transition: var(--transition-long);
}
.projects__logo:hover {
	filter: grayscale(50%) opacity(50%);
}

.projects__logo_img {
	margin: auto;
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
}
.projects__logo_small {
	width: 70%;
	height: 70%;
}
.projects__logo_big { 
	width: 60%;
	height: 60%;
}

.projects__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
	padding: 20px;
}
.projects__description {
	display: flex;
	align-items: center;
	min-height: 50px;
	margin-top: 20px;
	line-height: 1.4;
}
.projects__description::before {
	content: '';
	flex-shrink: 0;
	width: 4px;
	height: 40px;
	margin-right: 10px;
	border-radius: 12px;
	background-color: rgba(var(--color-blue-violet), .3);
}

.projects__links {
    margin-top: 20px;
    color: rgb(var(--color-black));
}
.projects__links_link {
    line-height: 5px;
    text-decoration: none;
	color: inherit;
	transition: var(--transition);
	border-bottom: 1px dashed rgba(var(--color-blue-violet), .5);
}
.projects__links_item {
	color: rgb(var(--color-gray-dark));
}
.projects__links_item:hover {
	color: rgb(var(--color-blue-violet));
}


/***************************************************
ADAPTIVE
/***************************************************/
@media screen and (max-width: 1150px) {
    .projects__container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 940px) {
    .profile__container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
		padding-bottom: 30px;
    }
	.profile__logo {
		width: 200px;
		height: 200px;
    	margin-top: 30px;
    	margin-left: 50px;
    	margin-right: 50px;
		border-radius: 50%;
		background-image: url(../img/profile/ava-small.png);
		background-position: top top;
    }
    .projects__container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 660px) {
	.profile__logo {
		margin: 20px auto;
		margin-bottom: 0;
	}
	.profile__header {
		margin-top: 10px;
	}
    .profile__content {
        padding: 20px;
    }
    .projects__container {
        grid-template-columns: repeat(1, 1fr);
        width: 70%;
        margin: auto;
    }
	.profile__container {
		margin-top: 20px;
	}
    .profile__stack {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 450px) {
	.projects__container {
		width: 100%;
	}
	.menu__item {
		margin-bottom: 10px;
	}
}
