
/***************************************************
LAYOUT
/***************************************************/
.g-wrapper {
	width: 800px;
	margin: 30px auto;
	padding: 20px;
	border-radius: 4px;
	background-color: rgb(var(--color-white));
	box-shadow: var(--shadow);
}
.g-container {
	margin-bottom: 40px;
}
.g-container:last-child {
	margin-bottom: 0;
}
.g-header {
	margin-bottom: 10px;
	padding: 5px 10px;
}
.g-header-text {
	padding-bottom: 5px;
	border-bottom: 1px solid rgba(var(--color-gray-dark), 1);
	font-size: 17px;
	font-weight: 600;
	font-family: var(--font-segoe);
	color: rgb(var(--color-blue-gray));
}

/***************************************************
LIST
/***************************************************/
.g-list {
	padding: 0 15px;
}
.g-list-item {
	margin: 5px;
	font-size: 14px;
	color: rgba(var(--color-gray-dark), 1);
}
.g-list-item-wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.g-list-badge {
	display: inline-block;
	margin-right: 5px;
	margin-top: 5px;
	padding: 3px 5px;
	font-family: var(--font-consolas);
	color: rgba(var(--color-blue-gray));
	border-radius: 6px;
	background-color: rgba(var(--color-gray-dark), .2);
}
.g-list-badge:last-child {
	margin-right: 0;
}
.g-list-badge-outline {
	padding: 3px 5px;
	font-family: var(--font-consolas);
	color: rgba(var(--color-blue-gray));
	border: 1px solid rgba(var(--color-gray-dark), .2);
	border-radius: 6px;
}

.g-list-link {
	display: block;
	margin-top: 5px;
	color: rgb(var(--color-blue-gray));
	margin-right: 5px;
	border-bottom: 1px dashed rgba(var(--color-blue-gray), .4);
	text-decoration: none;
	transition: 0.4s;
	padding: 3px 0;
}
.g-list-link:hover {
	color: rgb(var(--color-blue-violet));
	opacity: 1;
}

/***************************************************
ADAPTIVE
/***************************************************/
@media screen and (max-width: 850px) {
	.g-wrapper {
		width: 90%;
	}
}
@media screen and (max-width: 550px) {
	.g-list-link {
		display: block;
		width: 100%;
		margin-top: 10px;
	}
}
