
body {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	background-color: var(--color-gray-light);
	background-image: linear-gradient(to right bottom,#051937,#162454,#312d70,#533389,#7a359f);
}

.qr {
	width: 450px;
	background-color: #fff;
	box-shadow: var(--shadow);
	border-radius: 20px;
}	

@media screen and (max-width: 620px) {
	.qr {
		width: 100%;
	}
	body {
		padding: 20px;
	}
}
