
@import "include";

///////////////////////////////////////////////////////////////
// adaptive
///////////////////////////////////////////////////////////////
h2 {
	@media screen and (max-width: 500px) { font-size: $font-m + 2; }
	@media screen and (max-width: 400px) { font-size: $font-m; }
}

section {
	@media screen and (max-width: 500px) { padding: 50px 0px; }
}

///////////////////////////////////////////////////////////////
// starter
///////////////////////////////////////////////////////////////
@media screen and (max-width: 950px) {
    .starter-about .line {
        display: none;
    }
    .starter-about p {
        font-size: $font-m + 4;
    }
}
@media screen and (max-width: 850px) {
    .starter-menu li {
        margin: 20px 15px;
    }
}
@media screen and (max-width: 735px) {
    .starter-about p {
        text-align: center;
    }
}
@media screen and (max-width: 460px) {
	.starter-menu {
		display: none;
	}
    .starter-about img {
        width: 80%;
    }
    .starter-about p {
        font-size: $font-m + 2;
    }
    .starter-scroll {
        display: none;
    }
}

///////////////////////////////////////////////////////////////
// profile
///////////////////////////////////////////////////////////////
@media screen and (max-width: 1450px) {
	.profile {
        .content {
    		//flex-wrap: wrap;
            width: 95%;
    	}
        .profile-photo {
            margin: 0;
        }
        .profile-content {
            margin-right: 0;
            flex-basis: 300px;
            padding: 50px 25px 50px 50px;
        }
        .profile-direction {
            margin: 0;
            padding: 50px 50px 50px 25px;
        }
    }
}
@media screen and (max-width: 1024px) {
	.profile {
        .content {
            width: 400px;
            flex-direction: column;
    	}
        .profile-photo {
            margin: 0px 20px 20px 20px;
            flex-basis: 550px;
        }
        .profile-content, & .profile-direction {
            margin: 20px;
            flex-grow: 1;
            padding: 50px;
            height: auto;
        }
    }
}
@media screen and (max-width: 550px) {
    .profile {
        .content {
            width: 70%;
        }
		.profile-photo {
			flex-basis: 470px;
		}
		a.btn-dark-shadow {
			font-size: $font-xs - 4;
			margin-top: 25px;
			margin-bottom: 25px;
		}
    }
}
@media screen and (max-width: 470px) {
    .profile {
        .content {
            width: 80%;
        }
		.profile-photo {
			flex-basis: 450px;
		}
		.profile-content, .profile-direction {
			padding-top: 25px;
			padding-bottom: 25px;
		}
    }
}
@media screen and (max-width: 410px) {
    .profile {
        .content {
            width: 90%;
			font-size: $font-s - 2;
        }
	   .profile-photo {
			flex-basis: 400px;
		}
		.profile-content, & .profile-direction {
			padding: 25px 35px;
		}
		a.btn-dark-shadow {
			font-size: $font-xs - 6;
		}
	}
}

///////////////////////////////////////////////////////////////
// skills
///////////////////////////////////////////////////////////////
@media screen and (max-width: 480px) {
    .skills {
		background-image: url(../img/skills/bg-small.jpg);
        .content {
			width: 90%;
			grid-gap: 30px;
			grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        }
		.chart {
			height: 100px;
			font-size: $font-xs - 2;
		}
		canvas {
			width: 100px !important;
			height: 100px !important;
		}
    }
}

///////////////////////////////////////////////////////////////
// portfolio
///////////////////////////////////////////////////////////////
@media screen and (max-width: 1300px) {
    .portfolio .content-preview {
        grid-auto-rows: 300px;
    }
}
@media screen and (max-width: 1024px) {
    .portfolio .content-detailing .picture {
		background-image: none;
		display: none;
    }
}
@media screen and (max-width: 830px) {
    .portfolio .content {
        width: 65%;
    }
}

@media screen and (max-width: 600px) {
    .portfolio .content {
        width: 80%;
    }
	.portfolio .content-preview {
		grid-auto-rows: 240px;
	}
	.portfolio .content-detailing {
		font-size: $font-xs;
	}
}
@media screen and (max-width: 450px) {
    .portfolio .content {
        width: 90%;
    }
	.portfolio .content-preview {
		grid-gap: 30px;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	}
}

///////////////////////////////////////////////////////////////
// contact
///////////////////////////////////////////////////////////////

$contact-item-adaptive: 80px;

@media screen and (max-width: 545px) {
	.contact {
		background-image: url(../img/contact/bg-small.jpg);
	}
    // для ie
    .contact .contact-icon {
        width: $contact-item-adaptive;
        height: $contact-item-adaptive;
        &:before {
            width: 25px;
            height: 25px;
        }
    }
    // для других браузеров
    @supports (display: grid) {
        .contact .content {
            grid-template-columns: repeat(auto-fit, $contact-item-adaptive);
            .contact-icon {
                height: $contact-item-adaptive;
            }
        }
    }
}
