<!DOCTYPE html>
<html>
<head>
    <title>Anton Sergeenkov. Frontend Developer</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="img/favicon.svg" />
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
    <div id="root" class="wrapper">

    <!-- HEADER -->
    <header class="header__container">
        <div class="header__logo"></div>
        <div class="header__content">
            <h1 class="header__text">Anton Sergeenkov</h1>
            <h2 class="header__text">Frontend Developer</h2>
            <div class="list__container">
                <slot v-for="item in linksMain">
                    <div v-html="item.name"></div>
                    <a
                        class="list__link"
                        :href="item.link"
                        target="_blank"
                        v-html="item.title ? item.title : item.link"
                    ></a>
                </slot>
            </div>
        </div>
    </header>

    <!-- PROJECTS -->
    <section>
        <h2>Проекты</h2>
        <div class="projects__container">
            <div class="projects__item" v-for="itemProjects in sectionProjects">
                <a
                    :href="itemProjects.link"
                    class="projects__logo"
                    target="_blank"
                >
                    <div class="projects__logo_item" :style="'background-image: url('+itemProjects.img+');'"></div>
                </a>
                <div class="projects__content">
                    <h3 v-html="itemProjects.title"></h3>
                    <div class="projects__description" v-html="itemProjects.description"></div>
                    <div class="projects__links">
                        <div v-for="item in itemProjects.links">
                            <span>› </span>
                            <a
                                class="projects__links_item"
                                :href="item.link"
                                target="_blank"
                                v-html="item.name"
                            ></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    </div>

    <script src="libs/vue.js"></script>
    <script src="vue/starter.js"></script>
</body>
</html>
