<h2>v-for</h2>

<ul class="list-point">
	<li>Когда присутствуют вместе на одном элементе, <bg-code>v-for</bg-code> имеет больший приоритет, чем <bg-code>v-if</bg-code>. Поэтому <bg-code>v-if</bg-code> будет выполняться для каждой итерации цикла</li>
	<li><bg-code>key</bg-code> с <bg-code>v-for</bg-code> всегда обязателен для компонентов</li>
</ul>

<h4>Отображение массива элементов</h4>

<pre><code class="html">
&lt;li <bg-code>v-for</bg-code>="car <bg-code>in</bg-code> cars"&gt;{{ car.model }}&lt;/li&gt;
&lt;li <bg-code>v-for</bg-code>="car <bg-code>of</bg-code> cars"&gt;{{ car.model }}&lt;/li&gt;
&lt;li <bg-code>v-for</bg-code>="(car, i) <bg-code>in</bg-code> cars"&gt;{{i}}, {{ car.model }}&lt;/li&gt;
&lt;li <bg-code>v-for</bg-code>="car <bg-code>in</bg-code> cars" <bg-code>:key</bg-code>="car.id"&gt;{{ car.model }}&lt;/li&gt;
</code></pre>

<pre><code class="html">
&lt;div id="app"&gt;
	&lt;ul&gt;
		&lt;!-- Без индексов --&gt;
		&lt;li v-for="car in cars"&gt;{{ car.model }}, {{ car.speed }}&lt;/li&gt;
	&lt;/ul&gt;
	&lt;ul&gt;
		&lt;!-- С индексами --&gt;
		&lt;li v-for="(car, i) in cars"&gt;{{i}}, {{ car.model }}, {{ car.speed }}&lt;/li&gt;
	&lt;/ul&gt;
&lt;/div&gt;
</code></pre>

<pre><code class="html">
&lt;div id="app"&gt;
    &lt;ul&gt;
    	&lt;!-- Итерирование свойств объекта --&gt;
        &lt;li v-for="value in user"&gt;{{ value }}&lt;/li&gt;
    &lt;/ul&gt;
    &lt;ul&gt;
    	&lt;!-- Использование второго аргумента для получения ключей объекта --&gt;
        &lt;li v-for="(value, key) in user"&gt;{{ key }}: {{ value }}&lt;/li&gt;
    &lt;/ul&gt;
    &lt;ul&gt;
    	&lt;!-- Использование третьего аргумента для получения индексов объекта --&gt;
        &lt;li v-for="(value, key, index) in user"&gt;{{ index }}. {{ key }}: {{ value }}&lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;
</code></pre>

<pre><code class="js">
var app = new Vue({
	el: '#app', 
	data: {
		show: false,
		cars: [
			{model: 'Bmw',    speed: 250},
			{model: 'Audi',   speed: 350},
			{model: 'Nissan', speed: 270},
			{model: 'Ford',   speed: 150}
		],
		user: {
            name: 'Tony',
            age: 25
        }
	}
});
</code></pre>

<h4>v-for на компонентах</h4>
<p>При использовании v-for на компонентах обязательно требуется указывать key</p>
<pre><code class="html">
&lt;my-component v-for="item in items" :key="item.id"&gt;&lt;/my-component&gt;
</code></pre>

<p>В компонент никакие данные не передаются автоматически, поскольку у компонентов изолированные области видимости. Для передачи итерируемых данных в компонент необходимо явно использовать входные параметры</p>
<pre><code class="html">
&lt;my-component
	v-for="(item, index) in items"
	v-bind:item="item"
	v-bind:index="index"
	v-bind:key="item.id"
&gt;&lt;/my-component&gt;
</code></pre>