<h2>v-on:</h2>

<pre><code class="js">
var app = new Vue({
	el: '#app',
	data: {
		count: 0,
	},
	methods: {
		countUp() {
			this.count += 1
		}
	}
})
</code></pre>

<h3>Обработчики событий</h3>
<pre><code class="html">
&lt;button <bg-code>v-on:click</bg-code>="countUp"&gt;{{count}}&lt;/button&gt; - полная запись
&lt;button <bg-code>@click</bg-code>="countUp"&gt;{{count}}&lt;/button&gt;     - сокращенная запись
</code></pre>

<h3>Event</h3>
<ul class="list">
	<li><bg-list>this</bg-list> внутри методов указывает на экземпляр Vue</li>
	<li><bg-list>event</bg-list> нативное событие DOM</li>
</ul>

<pre><code class="html">
&lt;button @click="greet1"&gt;Поприветствовать&lt;/button&gt;
&lt;button @click="greet2($event, id)"&gt;Поприветствовать&lt;/button&gt;
</code></pre>

<pre><code class="js">
var app = new Vue({
	el: '#app',
	methods: {
		greet1(event) {
			if (event) {
				console.log(event.target.tagName);
			}
		},
		greet2(event, id) {
			event.toElement.classList.add('active');
		}
	}
})
</code></pre>

<pre><code class="js">
event.target; // выбранный элемент
</code></pre>

<pre><code class="js">
// вызывать методы можно и императивно
app.greet1();
</code></pre>

<h3>Отмена обычного поведения</h3>
<pre>
<code class="html">
&lt;button <bg-code>@click</bg-code>="submit1"&gt;&lt;/button&gt;
&lt;button <bg-code>@click.prevent</bg-code>="submit2"&gt;&lt;/button&gt;
</code>
<code class="js">
var app = new Vue({
	el: '#app',
	methods: {
		submit1(e) {
			e.preventDefault()
			console.log('Отмена обычного поведения');
		}
		submit2() {
			console.log('Отмена обычного поведения');
		}
	}
})
</code>
</pre>

<h3>Обработка нажатия клавиш</h3>

<pre><code class="html">
&lt;input type="text" @keyup="changeName"&gt;       &lt;!-- любые символы --&gt;
&lt;input type="text" @keyup.13="changeName"&gt;    &lt;!-- enter --&gt;
&lt;input type="text" @keyup.enter="changeName"&gt; &lt;!-- enter --&gt;
</code></pre>

<h4>Псевдонимы для наиболее часто используемых клавиш</h4>

<ul class="list-point">
	<li><bg-list>.enter</bg-list> <bg-list>.esc</bg-list> <bg-list>.space</bg-list> <bg-list>.tab</bg-list></li>
	<li><bg-list>.delete</bg-list> ("delete" и "backspace")</li>
	<li><bg-list>.up</bg-list> <bg-list>.down</bg-list></li>
	<li><bg-list>.left</bg-list> <bg-list>.right</bg-list></li>
</ul>


При нажатии enter (keyup.13/keyup.enter) вызывается getMessage()
<pre>
<code class="html">
&lt;div id="app"&gt;
	&lt;input type="text" v-model="message" @keyup.13="getMessage"&gt;
	&lt;input type="text" v-model="message" @keyup.enter="getMessage"&gt;
&lt;/div&gt;
</code>
<code class="js">
var app = new Vue({
	el: '#app',
	data: {
		message: ''
	},
	methods: {
		getMessage(){
			console.log(this.message)
		}
	}
})
</code>
</pre>

<pre>
<code>
<a href="https://vuejs.org/v2/guide/events.html#Key-Modifiers" target="_blank">Список псевдонимов клавиш в Vue</a>
<a href="https://css-tricks.com/snippets/javascript/javascript-keycodes/#article-header-id-1" target="_blank">Таблица с кодами клавиш</a>
</code>
</pre>

<h3>Создание событий. Глобальный метод $emit()</h3>
<pre>
<code class="html">
&lt;div id="app"&gt;
	&lt;ul&gt;
		&lt;li v-for="message in messages"&gt;{{ message }}&lt;/li&gt;
	&lt;/ul&gt;
	&lt;message @message-saved="handleMessage"&gt;&lt;/message&gt;
&lt;/div&gt;
</code>
<code class="js">
Vue.component('message', {
	template: '&lt;input type="text" v-model="message" @keyup.enter="saveMessage"&gt;',
	data: function() {
		return {
			message: ''
		}
	},
	methods: {
		saveMessage() {
			this.$emit('message-saved', this.message); // передача события родителю
			this.message = '';
		}
	}
})

var app = new Vue({
	el: '#app',
	data: {
		messages: []
	}
	methods: {
		handleMessage(message){
			this.messages.push(message)
		}
	}
})
</code>
</pre>
