/*********************************************************
FORM
*********************************************************/
.footer-form {
	margin-bottom: 190px;
}
.footer-form .h2 {
	margin-bottom: 100px;
}
.footer-form-submit {
	display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 24px;
    grid-template-areas: 
    	"name    name    message message . ."
		"phone   phone   btn     btn     . ."
		"comment comment .       .       . .";
}

.footer-form-name    { grid-area: name; }
.footer-form-message { grid-area: message; }
.footer-form-phone   { grid-area: phone; }
.footer-form-button  { grid-area: btn; }
.footer-form-comment { grid-area: comment; }

.footer-form-name, .footer-form-message {
	margin-bottom: 60px;
}
.footer-form-comment {
	margin-top: 30px;
	margin-left: 9px;
}

/*********************************************************
MAP
*********************************************************/
.footer-map {
	margin-bottom: 190px;
	height: 670px;
}

/*********************************************************
CONTACT
*********************************************************/
.footer-contact {
	display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-areas: 
    	"logo     logo    logo    . .      .      . .        .        ."
		"address  address address . menu   menu   . .        .        ."
		"email    email   email   . menu   menu   . .        .        ."
		"phone    phone   phone   . menu   menu   . .        .        ."
		"social   social  social  . policy policy . reserved reserved reserved";
	margin-bottom: 114px;
}

.footer-contact-logo     { grid-area: logo; }
.footer-contact-address  { grid-area: address; }
.footer-contact-email    { grid-area: email; }
.footer-contact-phone    { grid-area: phone; }
.footer-contact-menu     { grid-area: menu; }
.footer-contact-social   { grid-area: social; }
.footer-contact-policy   { grid-area: policy; }
.footer-contact-reserved { grid-area: reserved; }

.footer-contact-logo {
	width: 310;
	height: 55px;
	margin-bottom: 124px;
	background-image: url(../../img/logo.png);
}
.footer-contact-address {
	margin-bottom: 24px;
	line-height: 1.7;
}
.footer-contact-email {
	margin-bottom: 40px;
}
.footer-contact-phone {
	margin-bottom: 90px;
}
.footer-contact-menu li {
	margin-bottom: 16px;
}
.footer-contact-social {
	display: flex;
	align-items: center;
}
.footer-contact-social-icon {
	width: 32px;
	height: 32px;
	margin-right: 25px;
}
.footer-contact-policy, .footer-contact-reserved {
	text-align: right;
	line-height: 2;
}

.footer-contact-social .icon-inst     { background-image: url(../../img/social/inst.png); }
.footer-contact-social .icon-facebook { background-image: url(../../img/social/facebook.png); }
.footer-contact-social .icon-vk       { background-image: url(../../img/social/vk.png); }
.footer-contact-social .icon-youtube  { background-image: url(../../img/social/youtube.png); }
.footer-contact-social .icon-be       { background-image: url(../../img/social/be.png); }

/*********************************************************
ADAPTIVE
*********************************************************/

@media screen and (max-width: 768px) {
	.footer-form-submit {
	    grid-template-areas: 
	    	"name     name     name     name     . ."
	    	"phone    phone    phone    phone    . ."
	    	"message  message  message  message  . ."
	    	"btn      btn      btn      btn      . ."
	    	"comment  comment  comment  comment  . ."
	}
	.footer-form-name, .footer-form-phone {
		margin-bottom: 60px;
	}
	.footer-form-message {
		margin-bottom: 40px;
	}
	.footer-form-button {
		margin-bottom: 34px;
	}

	.footer-contact {
	    grid-template-columns: repeat(6, 1fr);
	    grid-template-areas:
	    	"logo    logo    logo . . ."
	    	"address address address . menu menu"
	    	"email   email   email . menu menu"
	    	"phone   phone   phone . menu menu"
	    	"social  social  social policy policy policy"
	    	"social  social  social reserved reserved reserved";
		margin-bottom: 54px;
	}

	.footer-form {
    	margin-bottom: 116px;
    }
    .footer-map {
    	margin-bottom: 102px;
    }
    .footer-map {
    	height: 320px;
    }
}

@media screen and (max-width: 550px) {
	.footer-form-submit {
		grid-template-columns: 1fr;
	    grid-template-areas: 
	    	"name"
	    	"phone"
	    	"message"
	    	"btn"
	    	"comment";
	}

	.footer-contact {
	    grid-template-columns: 1fr;
	    grid-template-areas:
	    	"logo"
	    	"address"
	    	"email"
	    	"phone"
	    	"social"
	    	"policy"
	    	"reserved";
	}

	.footer-contact-menu {
		display: none;
	}
	.footer-contact-policy, .footer-contact-reserved {
		text-align: left;
	}
	.footer-form .h2 {
		margin-bottom: 70px;
	}
	.footer-form-name, .footer-form-phone {
		margin-bottom: 40px;
	}
	.footer-form-message {
		margin-bottom: 28px;
	}
	.footer-form-button {
		margin-bottom: 24px;
	}
	.footer-form-comment {
		margin-top: 0;
	}
	.footer-form {
		margin-bottom: 140px;
	}
	.footer-map {
		margin-bottom: 110px;
	}
	.footer-map {
    	height: 225px;
    }
    .footer-contact-logo {
    	margin-bottom: 56px;
    	width: 187px;
    	height: 28px;
    	background-image: url(../../img/logo-header.png);
    }
    .footer-contact-address, .footer-contact-email {
    	margin-bottom: 18px;
    }
    .footer-contact-phone {
    	margin-bottom: 34px;
    }
    .footer-contact-social-icon {
    	width: 25px;
    	height: 25px;
    }
    .footer-contact-social {
    	margin-bottom: 55px;
    }
}
