.wrapper {
  /* background-color: var(--color-white); */
}
.container {
}

.coursesContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.courseContainer {
  position: relative;
  padding: 10px;
  border-radius: var(--border-radius);
  /* background-image: var(--gradient-sea); */
  background-color: var(--color-white);
}

.logo {
  display: block;
  width: 100%;
  height: 250px;
  border-radius: var(--border-radius);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: var(--color-gray-light);
  transition: 1s;
}
.logo:hover {
  filter: grayscale(120%) opacity(70%);
}

.contentContainer {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  padding: 10px;
  padding-bottom: 5px;

  .h3 {
    margin: 0;
    margin-bottom: 6px;
    font-size: 16px;
    font-family: var(--font-roboto-regular);
  }
  .description {
    margin-bottom: 6px;
    font-size: 14px;
    font-family: var(--font-roboto-light);
  }
  .options {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: var(--color-white);
    background-color: var(--color-white-opacity-2);
  }
}

/***************************************************
ADAPTIVE
/***************************************************/
@media screen and (max-width: 1100px) {
  .coursesContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 820px) {
  .coursesContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 570px) {
  .coursesContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
