
@import "../libraries/highlight/sawyer.css" screen;
@import "../module/preloader/preloader.css" screen;

@font-face { font-family: FiraSans-Ligth;   src: url(../fonts/FiraSans-Ligth.ttf); }
@font-face { font-family: FiraSans-Regular; src: url(../fonts/FiraSans-Regular.ttf); }
@font-face { font-family: FiraSans-Medium;  src: url(../fonts/FiraSans-Medium.ttf); }
@font-face { font-family: FiraSans-Bold;    src: url(../fonts/FiraSans-Bold.ttf); }

::-webkit-scrollbar       { width: 8px; height: 8px;}
::-webkit-scrollbar-thumb { height: 50px; background-color: rgba(0,0,0,0.2); border-radius: 2px;}
::-webkit-scrollbar-track { background-color: rgba(0,0,0,0.1); }

:root {
	--color-html:  74, 175, 45;   /*green*/
	--color-js:    11, 168, 160;  /*blue*/
	--color-php:   191, 122, 190; /*crimson*/
	--color-other: 179, 183, 104; /*brown*/
	--color-fw:    71, 7, 183;    /*violet*/
}

body{
	margin: 0;
	padding: 0;
	font-family: FiraSans-Regular;
	font-size: 16px;
}
* {
    box-sizing: border-box;
}
*::selection {
	background: rgba(11, 168, 160, 0.4);
}


/***************************************************
STRUCTURE
/***************************************************/
#container {
	display: flex;
	height: 100vh;
}
#menu-left {
	width: 300px;
	flex-shrink: 0;
	overflow: auto;
}
#menu-top {
	max-width: 1100px;
	margin: auto;
}
#content-wrapper {
	flex-grow: 1;
	padding: 0px 25px;
	overflow: auto;
}
#content {
	max-width: 1100px;
	margin-left: 25px;
	margin: auto;
}

/***************************************************
MENU-TOP
/***************************************************/
#menu-top {
	padding: 25px 0px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}
#menu-top .menu {
	text-decoration: none;
	color: gray;
	font-size: 20px;
	padding: 10px 20px;
	margin: 5px;
	font-family: FiraSans-Bold;
	border-bottom: 2px solid transparent;
	transition: 0.7s;
	width: auto;
}
#menu-top .menu:hover {
	opacity: 0.7;
}
#menu-top .menu-html  { color: #4aaf2d; background: rgba(74, 175, 45, 0.2);   }
#menu-top .menu-js    { color: #0ba8a0; background: rgba(11, 168, 160, 0.2);  }
#menu-top .menu-php   { color: #bf7abe; background: rgba(191, 122, 190, 0.2); }
#menu-top .menu-other { color: #b3b768; background: rgba(179, 183, 104, 0.2); }
#menu-top .menu-jsfw  { color: #8a6ac4; background: rgba(71, 7, 183, 0.2);    }

/***************************************************
MENU-LEFT
/***************************************************/
#menu-left .theme, #menu-left > a {
	color: black;
	text-decoration: none;
	display: block;
	cursor: pointer;
    font-size: 14px;
    user-select: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding: 5px 15px;
    line-height: 1.7;
}
#menu-left a.active {
	background: rgba(74, 175, 45, 0.2);
	color: #4aaf2d; 
	font-weight: bold;
}
#menu-left .theme {
	font-weight: bold;
	color: #0ba8a0; 
	background: rgba(11, 168, 160, 0.2);
	cursor: default;
	text-transform: uppercase;
}
#menu-left-show {
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-image: url(../img/app/show.svg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	margin: 10px;
	flex-shrink: 0;
}
#menu-left-starter {
	display: flex;
    font-size: 14px;
    user-select: none;
    position: sticky;
    top: 0;
    left: 0;
    background: white;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
}
#menu-left-starter a {
	display: flex;
	align-items: center;
	flex-grow: 1;
	padding-left: 10px;
	color: black;
	text-decoration: none;
}

/***************************************************
MENU-LEFT-HIDE
/***************************************************/
#menu-left.hide {
	width: 70px;
}
#menu-left.hide > .theme, #menu-left.hide > a {
	display: none;
}
#menu-left.hide #menu-left-starter {
	flex-direction: column;
	align-items: center;
}
#menu-left.hide #menu-left-starter a {
	padding: 10px 20px;
}
#menu-left.hide #menu-left-starter {
	box-shadow: none;
}

/***************************************************
ELEMENTS
/***************************************************/
h1 {
	text-align: center;
	margin-top: 20px;
	font-size: 25px;
}
h2 {
	margin: 5px 0px 15px 0px;
	padding: 15px;
	margin-top: 20px;
	font-size: 22px;
	color: #4aaf2d; 
	background-image: linear-gradient(to right, #dceed8, #d9f3e8, #def6f5, #e9f8fd, #f5faff, #f9fbff, #fdfdff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
}
h3 {
	margin: 15px 0px 15px 0px;
	padding: 10px;
	color: #8f9190;
	background-image: linear-gradient(to right, #f0f0e2, #f9f1e7, #fef3ef, #fff6f7, #fefafc, #fefcfe, #fefdff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
}
h4 {
	margin: 15px 0px 15px 0px;
	padding-bottom: 5px;
}
img {
	display: block;
}
img.center {
	margin: auto;
}
h2.select {
	border: none;
	color: white;
	background: #24c1f4;
}
h4 {
	margin: 2px 0px;
}
pre {
    tab-size: 4;
    margin: 10px 0px;
}
code {
	padding: 0px 25px 25px 25px !important;
    line-height: 1.5em;
    font-size: 16px;
    border-radius: 5px;
}
code a, ul a {
	text-decoration: none;
	border-bottom: 1px solid #690;
	color: #690 !important;
}
code.light {
	line-height: 2em;
	background: rgba(var(--color-other), 0.1);
	border: 2px dashed rgba(var(--color-other), 0.2);
}
pre.inline {
	display: inline-block;
}
pre.inline > code {
	margin: 0 !important;
	padding: 0 10px !important;
	line-height: inherit;
}
u {
	text-decoration: none;
	border-bottom: 1px dashed #8a6ac4;
	color: #8a6ac4;
	font-weight: bold;
}
table, tr, td {
	margin: 0;
	padding: 0;
}

/***************************************************
SELECTED
/***************************************************/
bg-code, bg-header, bg-list, bg-menu, bg-mass, bg-methods, bg-define {
	display: inline;
	margin: 0;
	padding: 0;
	border: 0;	
}
bg-code {
	background: rgba(179, 183, 104, 0.4);
	padding: 2px;
}
bg-header {
	padding: 5px 10px;
	border-radius: 3px;
	background: rgba(36, 193, 244, 0.55)
}
bg-list {
	padding: 5px 10px;
	background: rgba(0,0,0,0.1);
	border-radius: 3px;
	font-size: 15px;
	border: 1px solid rgba(0,0,0,0.1);
}
bg-menu {
	padding: 5px;
	background: rgba(179, 183, 104, 0.4);
	border-radius: 4px;
	color: black !important;
}
bg-mass {
	display: inline-block;
	padding: 0px 10px;
	margin: 2px;
	background: rgba(179, 183, 104, 0.2);
	border-radius: 4px;
	color: black !important;
}
bg-light {
	background: rgba(0,0,0,0.1);
	padding: 2px;
}
bg-methods {
	padding: 5px;
	border: 1px solid rgba(var(--color-html), 0.25);
	background: rgba(var(--color-html), 0.2);
	border-radius: 3px 0px 0px 3px;
}
bg-arguments {
	padding: 5px;
	border: 1px solid rgba(var(--color-other), 0.3);
	background: rgba(var(--color-other), 0.3);
	border-radius: 0px 3px 3px 0px;
}
bg-define {
	padding: 4px;
	background: rgba(var(--color-js), 0.66);
	border-radius: 3px;
	color: white;
}

/***************************************************
LIST
/***************************************************/
.list-point {
	list-style-type: disc;
}
.list {
	margin: 0;
	padding: 15px;
	list-style-type: none;
}
.list, .list-point {
	line-height: 2;
	border-radius: 3px;
	margin-top: 5px;
	font-size: 14px;
}
.list-inline {
	display: flex;
	flex-wrap: wrap;
	margin: 0; 
	padding: 0;
	list-style-type: none;
}
.list-inline li {
	margin: 10px;
}
.margin-top {
	display: block;
	margin-top: 10px;
}

/***************************************************
CONTAINERS
/***************************************************/
.container-margin {
	margin-left: 50px;
}
.container-flex {
	display: flex;
	margin: 10px 0px;
}
.container-half {
	width: 50%;
	margin: 0px 5px;
}
.container-calc {
	width: calc(100% - 200px);
	margin: 0px 5px;
}
.container-calc pre, .container-calc code {
	height: 100%;
}
.container-calc pre {
	margin: 0;
}


/***************************************************
DELETE
/***************************************************/
.code-select {
	background: rgba(74, 175, 45, 0.2);
}


.container-flex img.svg {
	width: 200px;
	height: 200px;
	object-fit: contain;
}
.h3-bg {
	color: #4aaf2d;
	background: rgba(74, 175, 45, 0.2);
	padding: 10px;
}
.red {
	background: #efd7e2 !important;
}
.green {
	background: #b5dfe2 !important;
}
.img-center {
	display: block;
	margin: auto;
}
em {
	color: #690;
	font-style: normal;
}
blockquote {
	margin: 5px 0px 0px 0px;
	line-height: 1.5;
}
.hh {
	padding: 5px 10px;
	border-radius: 3px;
	background: #24c1f4;
}
.hl {
	padding: 5px 10px;
	background: rgba(0,0,0,0.1);
	border-radius: 3px;
	font-weight: bold;
}
.hc {
	background: rgba(179, 183, 104, 0.4);
	padding: 2px;
}
.hm {
	padding: 5px;
	background: rgba(179, 183, 104, 0.4);
	border-radius: 4px;
	color: black !important;
}
