.container {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 7px 20px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.title {
  color: var(--color-gray-80);
}

/***************************************************
ADAPTIVE
/***************************************************/
@media screen and (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 450px) {
  .chips {
    margin-bottom: 5px;
  }
  .chips:last-child {
    margin-bottom: 0;
  }
}
