.wrapper {
  background-color: var(--color-white);
}

.container {
}

.title {
  margin-bottom: 10px;
}

.list {
  margin: 0;
  padding: 0;
}
.listItem {
  margin: 7px 0;
  margin-left: 10px;
  font-size: 14px;
  color: var(--color-black-lighter);
  /* list-style: inside; */
  list-style-type: disc;
}
.listItem::marker {
  color: var(--color-black-lighter);
  font-size: 12px;
}
.listWrapper {
  margin-bottom: 30px;
}
.listWrapper:last-child {
  margin-bottom: 0;
}

.listItemContainer {
  display: flex;
  gap: 3px; 
}
.listItemContainer a {
  background: none;
}

/***************************************************
ADAPTIVE
/***************************************************/
@media screen and (max-width: 615px) {
  .listItemContainer {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  .listItemContainer a {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
