<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="icon" type="image/png" href="img/favicon.png">
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
<div id="preloader"></div>
<div class="menu-theme-wrapper">
	<div class="menu-theme">
		
		<div class="menu-starter">
			<div id="show-menu"></div>
			<a href="#menu">Starter</a>
		</div>

		<div class="menu-container">
			<a href="#create-obj">Экземпляр Vue</a>

			<div class="theme">Директивы</div>
			<a href="#dir-text"><span class="hm">v-text</span> <span class="hm">v-html</span></a>
			<a href="#dir-if"><span class="hm">v-show</span> <span class="hm">v-if</span> <span class="hm">v-else</span> <span class="hm">v-else-if</span></a>
			<a href="#dir-for"><span class="hm">v-for</span></a>
			<a href="#dir-on"><span class="hm">v-on:</span></a>
			<a href="#dir-bind"><span class="hm">v-bind:</span></a>
			<a href="#dir-model"><span class="hm">v-model</span></a>
			<a href="#dir-pre"><span class="hm">v-pre</span></a>
			<a href="#dir-cloak"><span class="hm">v-cloak</span></a>
			<a href="#dir-once"><span class="hm">v-once</span></a>

			<div class="theme">Опции</div>
			<a href="#computed"><span class="hm">computed</span></a>
			<a href="#created"><span class="hm">created</span></a>
			<a href="#watch"><span class="hm">watch</span></a>
			<a href="#filters"><span class="hm">filters</span></a>
			
			<div class="theme">Компоненты</div>
			<a href="#component-simple">Простой компонент</a>
			<a href="#component-local-global">Локальные и глобальные компоненты</a>
			<a href="#component-transfer-content">Обмен данными между компонентами</a>
			<a href="#component-template">Тег template</a>
			<a href="#component-dynamic">Динамические компоненты</a>
			
			<div class="theme">Vuex</div>
			<a href="#vuex-desc">Описание</a>
			<a href="#vuex-src">Подключение</a>
			<a href="#vuex-state"><span class="hm">state</span> <span class="hm">store</span></a>
			<a href="#vuex-getters"><span class="hm">getters</span></a>
			<a href="#vuex-mutations"><span class="hm">mutations</span></a>
			<a href="#vuex-actions"><span class="hm">actions</span></a>
			<a href="#vuex-sample1">Пример #1</a>

			<div class="theme">Vue CLI</div>
			<a href="#vue-cli-components">Компоненты системы</a>
			<a href="#vue-cli-bash">Bash Command</a>
			<a href="#vue-cli-vue">Vue Command</a>
			<a href="#vue-cli-desc">Описание</a>
			<a href="#vue-cli-import"><span class="hm">import</span> <span class="hm">export</span></a>
			<a href="#vue-file-render"><span class="hm">render</span></a>
			<a href="#vue-file-structure">Структура</a>
			<a href="#vue-cli-vscode">Настройка Visual Studio Code</a>

			<div class="theme">Vue Router</div>
			<a href="#vue-router-script">Подключение через &lt;script&gt;</a>
			<a href="#vue-router-npm">Подключение через NPM</a>
			<a href="#vue-router-desc">Описание</a>
			<a href="#vue-router-active-link">Стилизация активной ссылки</a>
			<a href="#vue-router-static-path">Статический путь</a>
			<a href="#vue-router-dynamic-path">Динамический путь</a>
			<a href="#vue-comparison-path">Сопоставление путей</a>

			<div class="theme">Axios</div>
			<a href="#axios-desc">Описание</a>
			<a href="#ajax-request">Технологии ajax запросов</a>
			<a href="#axios-settings">Конфигурование сервера</a>
			<a href="#axios-get">GET</a>
			<a href="#axios-post">POST</a>
			
			<div class="theme">Прочее</div>
			<a href="#transition">Анимация</a>
			<a href="#add-react-element">Добаление реактивных элементов</a>

		</div>
	</div>
</div>
<div id="content">
<div id="menu"></div>
<div id="container">

<h1>Vue.js</h1>
<pre>
<code class="html">
<a href="https://ru.vuejs.org/v2/guide/" target="_blank"><em>Vue.js</em></a>       - фреймворк
<a href="https://router.vuejs.org/ru/" target="_blank"><em>Vue Router</em></a>   - маршрутизация
<a href="https://vuex.vuejs.org/ru/guide/" target="_blank"><em>Vuex</em></a>         - паттерн управления состоянием
<a href="https://cli.vuejs.org/ru/guide/" target="_blank"><em>Vue CLI 3</em></a>    - система сборки
<a href="https://ru.vuejs.org/v2/cookbook/using-axios-to-consume-apis.html" target="_blank"><em>Axios</em></a>        - доступ к API
</code>
</pre>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<h2 id="create-obj">Экземпляр Vue</h2>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<pre><code class="js">
var app = new Vue({
	el: '#app',
	data: {
		messText: 'Hello',
		messHTML: '&lt;h1&gt;Hello&lt;/h1&gt;',
		view: false,
		nameClass: 'testClass',
		value: 1
	},
	methods: {
		nameMethod() {
			this.view = true;
		}
	},
	computed: {
		doubleValue() {
			return this.value * 2
		}
	},
	created() {
		console.log(this.a); // this указывает на экземпляр vm
	},
	watch: {
		messText() {
			console.log('messText changed');
		}
	}
})
</code></pre>
<pre><code class="js">
app.messText = 'New Text'; // переопределение свойства
</code></pre>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<h2 id="dir-text">v-text, v-html</h2>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<pre>
<code class="html">
&lt;p&gt;{{ messText }}&lt;/p&gt;      - интерполяция, текстовое содержимое
&lt;p <span class="hc">v-text</span>="messText"&gt;&lt;/p&gt;  - текстовое содержимое
&lt;p <span class="hc">v-html</span>="messHTML"&gt;&lt;/p&gt;  - html содержимое
</code>
</pre>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<h2 id="dir-if">v-show, v-if, v-else, v-else-if</h2>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

<ul class="list-point">
	<li>Можно применить v-if к псевдоэлементу &lt;template&gt;</li>
	<li>v-show не работает на элементе &lt;template&gt; и не работает с v-else</li>
	<li>Для v-if выше затраты на переключения, а у v-show больше затрат на первичную отрисовку. Если вы предполагаете, что переключения будут частыми, используйте v-show, если же редкими или маловероятными - v-if</li>
</ul>

<pre><code class="html">
&lt;p <span class="hc">v-show</span>="view"&gt;text&lt;/p&gt;  - устанавливается display: none/block
&lt;p <span class="hc">v-if</span>="view"&gt;text&lt;/p&gt;    - условие if. удаляется/добавляется в DOM дерево
&lt;p <span class="hc">v-else</span>&gt;text&lt;/p&gt;         - условие else при невыполнении if
</code></pre>

<h4>v-else-if</h4>
<pre><code class="html">
&lt;div v-if="type === 'A'"&gt;A&lt;/div&gt;
&lt;div v-else-if="type === 'B'"&gt;B&lt;/div&gt;
&lt;div v-else-if="type === 'C'"&gt;C&lt;/div&gt;
&lt;div v-else&gt;Не A/B/C&lt;/div&gt;
</code></pre>

<h4>slot (не рендерится)</h4>
<div class="container-flex"><div class="container-half"><pre><code class="html">
&lt;div&gt;
    &lt;slot v-if="view"&gt;text&lt;/p&gt;
&lt;/div&gt;
</code></pre></div><div class="container-half"><pre><code class="html">
&lt;div&gt;
    text
&lt;/div&gt;
</code></pre></div></div>



<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<h2 id="dir-for">v-for</h2>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

<h4>Отображение массива элементов</h4>

<pre><code class="html">
&lt;li <span class="hc">v-for</span>="car <span class="hc">in</span> cars"&gt;{{ car.model }}&lt;/li&gt;
&lt;li <span class="hc">v-for</span>="car <span class="hc">of</span> cars"&gt;{{ car.model }}&lt;/li&gt;
&lt;li <span class="hc">v-for</span>="(car, i) <span class="hc">in</span> cars"&gt;{{i}}, {{ car.model }}&lt;/li&gt;
</code></pre>

<pre><code class="html">
&lt;div id="app"&gt;
	&lt;ul&gt;
		&lt;!-- Без индексов --&gt;
		&lt;li v-for="car in cars"&gt;{{ car.model }}, {{ car.speed }}&lt;/li&gt;
	&lt;/ul&gt;
	&lt;ul&gt;
		&lt;!-- С индексами --&gt;
		&lt;li v-for="(car, i) in cars"&gt;{{i}}, {{ car.model }}, {{ car.speed }}&lt;/li&gt;
	&lt;/ul&gt;
&lt;/div&gt;
</code></pre>

<pre><code class="html">
&lt;div id="app"&gt;
    &lt;ul&gt;
    	&lt;!-- Итерирование свойств объекта --&gt;
        &lt;li v-for="value in user"&gt;{{ value }}&lt;/li&gt;
    &lt;/ul&gt;
    &lt;ul&gt;
    	&lt;!-- Использование второго аргумента для получения ключей объекта --&gt;
        &lt;li v-for="(value, key) in user"&gt;{{ key }}: {{ value }}&lt;/li&gt;
    &lt;/ul&gt;
    &lt;ul&gt;
    	&lt;!-- Использование третьего аргумента для получения индексов объекта --&gt;
        &lt;li v-for="(value, key, index) in user"&gt;{{ index }}. {{ key }}: {{ value }}&lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;
</code></pre>

<pre><code class="js">
var app = new Vue({
	el: '#app', 
	data: {
		show: false,
		cars: [
			{model: 'Bmw',    speed: 250},
			{model: 'Audi',   speed: 350},
			{model: 'Nissan', speed: 270},
			{model: 'Ford',   speed: 150}
		],
		user: {
            name: 'Tony',
            age: 25
        }
	}
});
</code></pre>

<h4>v-for на компонентах</h4>
<p>При использовании v-for на компонентах обязательно требуется указывать key</p>
<pre><code class="html">
&lt;my-component v-for="item in items" :key="item.id"&gt;&lt;/my-component&gt;
</code></pre>

<p>В компонент никакие данные не передаются автоматически, поскольку у компонентов изолированные области видимости. Для передачи итерируемых данных в компонент необходимо явно использовать входные параметры</p>
<pre><code class="html">
&lt;my-component
	v-for="(item, index) in items"
	v-bind:item="item"
	v-bind:index="index"
	v-bind:key="item.id"
&gt;&lt;/my-component&gt;
</code></pre>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<h2 id="dir-on">v-on:</h2>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<pre><code class="js">
var app = new Vue({
	el: '#app',
	data: {
		count: 0,
	},
	methods: {
		countUp() {
			this.count += 1
		}
	}
})
</code></pre>

<h3>Обработчики событий</h3>
<pre><code class="html">
&lt;button <span class="hc">v-on:click</span>="countUp"&gt;{{count}}&lt;/button&gt; - полная запись
&lt;button <span class="hc">@click</span>="countUp"&gt;{{count}}&lt;/button&gt;     - сокращенная запись
</code></pre>

<h3>Event</h3>
<ul class="list">
	<li><span class="hl">this</span> внутри методов указывает на экземпляр Vue</li>
	<li><span class="hl">event</span> нативное событие DOM</li>
</ul>

<pre><code class="html">
&lt;button @click="greet1"&gt;Поприветствовать&lt;/button&gt;
&lt;button @click="greet2($event, id)"&gt;Поприветствовать&lt;/button&gt;
</code></pre>

<pre><code class="js">
var app = new Vue({
	el: '#app',
	methods: {
		greet1(event) {
			if (event) {
				console.log(event.target.tagName);
			}
		},
		greet2(event, id) {
			event.toElement.classList.add('active');
		}
	}
})
</code></pre>

<pre><code class="js">
// вызывать методы можно и императивно
app.greet1();
</code></pre>

<h3>Отмена обычного поведения</h3>
<pre>
<code class="html">
&lt;button <span class="hc">@click</span>="submit1"&gt;&lt;/button&gt;
&lt;button <span class="hc">@click.prevent</span>="submit2"&gt;&lt;/button&gt;
</code>
<code class="js">
var app = new Vue({
	el: '#app',
	methods: {
		submit1(e) {
			e.preventDefault()
			console.log('Отмена обычного поведения');
		}
		submit2() {
			console.log('Отмена обычного поведения');
		}
	}
})
</code>
</pre>

<h3>Обработка нажатия клавиш</h3>
При нажатии enter (keyup.13/keyup.enter) вызывается getMessage()
<pre>
<code class="html">
&lt;div id="app"&gt;
	&lt;input type="text" v-model="message" @keyup.13="getMessage"&gt;
	&lt;input type="text" v-model="message" @keyup.enter="getMessage"&gt;
&lt;/div&gt;
</code>
<code class="js">
var app = new Vue({
	el: '#app',
	data: {
		message: ''
	},
	methods: {
		getMessage(){
			console.log(this.message)
		}
	}
})
</code>
</pre>

<pre>
<code>
<a href="https://vuejs.org/v2/guide/events.html#Key-Modifiers" target="_blank">Список псевдонимов клавиш в Vue</a>
<a href="https://css-tricks.com/snippets/javascript/javascript-keycodes/#article-header-id-1" target="_blank">Таблица с кодами клавшим</a>
</code>
</pre>

<h3>Создание событий. Глобальный метод $emit()</h3>
<pre>
<code class="html">
&lt;div id="app"&gt;
	&lt;ul&gt;
		&lt;li v-for="message in messages"&gt;{{ message }}&lt;/li&gt;
	&lt;/ul&gt;
	&lt;message @message-saved="handleMessage"&gt;&lt;/message&gt;
&lt;/div&gt;
</code>
<code class="js">
Vue.component('message', {
	template: '&lt;input type="text" v-model="message" @keyup.enter="saveMessage"&gt;',
	data: function() {
		return {
			message: ''
		}
	},
	methods: {
		saveMessage() {
			this.$emit('message-saved', this.message); // передача события родителю
			this.message = '';
		}
	}
})

var app = new Vue({
	el: '#app',
	data: {
		messages: []
	}
	methods: {
		handleMessage(message){
			this.messages.push(message)
		}
	}
})
</code>
</pre>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<h2 id="dir-bind">v-bind:</h2>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<h3>Связывание атрибутов элементов</h3>

<ul class="list-point">
	<li>Директива связывает входной атрибут тега или входной параметр компонента с выражением</li>
	<li>Значение атрибута берется из переменной</li>
	<li>:class можно использовать с обычным атрибутом class</li>
</ul>

<pre><code class="js">
new Vue({
    el: '#app',
    data: {
        url: 'https://yandex.ru/',
        link: 'Yandex',
        isActive: true,
        activeClass: 'class-active',
        errorClass: 'class-error'
    }
})
</code></pre>

<pre><code class="html">
&lt;a <span class="hc">v-bind:href</span>="url"&gt;{{ link }}&lt;/a&gt;     - полная запись
&lt;p <span class="hc">v-bind:class</span>="activeClass"&gt;&lt;/p&gt;      - полная запись
&lt;p <span class="hc">:class</span>="activeClass"&gt;&lt;/p&gt;            - сокращенная запись
</code></pre>

<h4>Указание дополнительных значений</h4>
<pre><code class="html">
&lt;div class="img" :style="{ backgroundImage: 'url('+item.img+')' }"&gt;&lt;/div&gt;
&lt;a :href="'courses/'+i"&gt;&lt;/a&gt;
</code></pre>

<h4>CSS Class</h4>
<pre><code class="html">
&lt;div :class="[activeClass, errorClass]"&gt;&lt;/div&gt; - использование массивов
</code></pre>

<pre><code class="html">
&lt;!-- active - название класса --&gt;
&lt;p <span class="hc">:class</span>="{ active:true }"&gt;&lt;/p&gt;        - true (отобразится)
&lt;p <span class="hc">:class</span>="{ active:false }"&gt;&lt;/p&gt;       - false (не отобразится)
&lt;p <span class="hc">:class</span>="{ active:isActive }"&gt;&lt;/p&gt;    - свойство isActive (true/false)
</code></pre>

<h4>CSS Style</h4>

<h5>1 вариант (объектная запись в html)</h5>
<pre><code class="html">
&lt;div :style="{ color: activeColor, fontSize: fontSize+'px' }"&gt;&lt;/div&gt;
</code></pre>

<pre><code class="js">
new Vue({
    el: '#app',
    data: {
        activeColor: 'blue',
        fontSize: 30
    }
})
</code></pre>

<h5>2 вариант (объектная запись в js)</h5>
<pre><code class="html">
&lt;div id="app"&gt;
	&lt;div :style="styleBlock"&gt;block&lt;/div&gt;
	&lt;button @click="changeStyle"&gt;changeStyle&lt;/button&gt;
&lt;/div&gt;
</code></pre>

<pre><code class="js">
// styleBlock может содержать массивы или объекты
var app = new Vue({
	el: '#app',
	data: {
		styleBlock: {
			width: '100px',
			height: '100px',
			background: 'blue'
		}
	},
	methods: {
		changeStyle() {
			this.styleBlock.background = 'orange';
			this.styleBlock['border-radius'] = '10px';
		}
	}
})
</code></pre>


<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<h2 id="dir-model">v-model</h2>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<h3>Двунаправленное связывание данных с элементами</h3> (н-р input и textarea)

<pre><code class="html">
&lt;input type="text" <span class="hc">v-model</span>="messText"&gt;
&lt;p&gt;{{ messText }}&lt;/p&gt;

&lt;input type="checkbox" <span class="hc">v-model</span>="view"&gt;
&lt;label&gt;{{ view }}&lt;/label&gt;
</code></pre>

Аналогично
<pre><code class="html">
&lt;input type="text" <span class="hc">@input="messText = $event.target.value"</span>&gt;
&lt;p&gt;{{ messText }}&lt;/p&gt;
</code></pre>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<h2 id="dir-pre">v-pre</h2>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<h3>Пропуск компиляции у элемента и его потомков</h3>
<pre><code class="html">
&lt;p <span class="hc">v-pre</span>&gt;{{ Lorem ipsum dolor sit ameto }}&lt;/p&gt;
</code></pre>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<h2 id="dir-cloak">v-cloak</h2>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
Скрытие нескомпилированных шаблонов до тех пор, пока экземпляр Vue не будет готов
<h3>v-cloak</h3>
<pre><code class="html">
&lt;span v-cloak&gt;{{item.name}}&lt;/span&gt;
</code></pre>

<pre><code class="css">
[v-cloak] { display:none; }
</code></pre>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<h2 id="dir-once">v-once</h2>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<ul class="list">
	<li>Однократно отрисовывает элемент или компонент. При повторной отрисовке он, а также все его потомки, рассматриваются как статический контент и пропускаются</li>
</ul>

<pre><code class="html">
&lt;span v-once&gt;Это никогда не изменится: {{ message }}&lt;/span&gt;
</code></pre>



<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<h2 id="computed">Computed Properties</h2>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

<ul class="list">
	<li><span class="hl">Computed Properties</span> - вычисляемые (обработанные) свойства применяются когда есть зависимость переменных от других переменных</li>
</ul>

<pre><code class="html">
&lt;div id="app"&gt;
	&lt;input type="text" @input="increment($event.target.value)"&gt;
	&lt;p&gt;{{value}}&lt;/p&gt;
	&lt;p&gt;{{doubleValue}}&lt;/p&gt;
&lt;/div&gt;
</code>
<code class="js">
var app = new Vue({
	el: '#app', 
	data: {
		value: 1
	},
	methods: {
		increment(value) {
			this.value = value
		}
	},
	computed: {
		doubleValue() {
			return this.value * 2
		}
	}
});
</code></pre>

<h4>Пример #1. При вводе более 10 символов, скрывается кнопка</h4>
<pre><code class="html">
&lt;div id="app"&gt;
	&lt;form action=""&gt;
		&lt;span&gt;{{ count }} / 10&lt;/span&gt;
		&lt;textarea v-model="text"&gt;&lt;/textarea&gt;
		&lt;button <span class="hc">v-if="count &lt;= 10"</span>&gt;Отправить&lt;/button&gt;
	&lt;/form&gt;
&lt;/div&gt;
</code>
<code class="js">
var app = new Vue({
	el: '#app',
	data: {
		text: ''
	},
	computed: {
		count() {
			return this.text.length
		}
	}
})
</code></pre>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<h2 id="watch">Методы-наблюдатели (watch)</h2>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<p>Наблюдение за одним свойством</p>
<pre><code class="html">
&lt;input type="text" v-model="messText"&gt;
</code></pre>

<pre><code class="js">
// при изменении свойства messText, вызывается messText()
var app = new Vue({
    el: '#app',
    data: {
        messText: null
    },
    watch: {
        messText() {
            console.log(this.messText);
        }
    }
})
</code></pre>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<h2 id="filters">Фильтры</h2>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<pre>
<code class="html">
&lt;div id="app"&gt;
	&lt;p&gt;{{ message | lowercase }}&lt;/p&gt;
	&lt;p&gt;{{ message | uppercase }}&lt;/p&gt;
	&lt;p&gt;{{ message | filter1 | filter2 }}&lt;/p&gt;
&lt;/div&gt;
</code>
</pre>

<pre>
<code class="js">
// глобальный фильтр
Vue.filter('uppercase', function(value){
	return value.toUpperCase()
});

var app = new Vue({
	el: '#app', 
	data: {
		message: 'Hello'
	},
	// локальный фильтр
	filters: {
		lowercase(value) {
			return value.toLowerCase()
		}
	}
});
</code>
</pre>

<blockquote>
	Обращение к объекту <b>data</b> и вывод его в формат <b>json</b><br>
	Используя стандартный фильтр <b>json</b>
</blockquote>
<pre>
<code>
&lt;pre&gt;{{ $data | json }}&lt;/pre&gt;
</code>
</pre>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<h2 id="created">Хук created</h2>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<ul class="list-point">
	<li><span class="hl">created</span> можно использовать для выполнения кода после создания экземпляра</li>
	<li>Нельзя использовать стрелочные функции в свойствах экземпляра и в коллбэках</li>
</ul>

<pre><code class="js">
new Vue({
	data: {
		a: 1
	},
	created() {
		console.log(this.a); // this указывает на экземпляр vm
	}
})
// => "Значение a: 1"
</code></pre>



<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<!-- КОМПОНЕНТЫ -->
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<h2 id="component-simple">Простой компонент</h2>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

<pre><code class="plaintext">
<a href="https://vuejsdevelopers.com/2017/03/24/vue-js-component-templates/" target="_blank">7 Ways To Define A Component Template in Vue.js</a>
Для маленьких проектов можно через X-Templates
</code></pre>

<pre>
<code class="html">
&lt;div id="app"&gt;
	&lt;task&gt;&lt;/task&gt;
&lt;/div&gt;
</code>
<code class="js">
Vue.component('task', {
    data() {
        return {
            name: 'Tony',
            age: 21
        }
    },
    template: '&lt;p&gt;Hello {{name}} {{age}}&lt;/p&gt;',
    methods: {
        increment() {
            this.age++;
        }
    }
})
var app = new Vue({
	el: '#app'
})
</code>
<code class="js">
// Hello Tony 21
</code>
</pre>

<ul class="list-point">
	<li><span class="hl">data()</span> - Состояние. Управление приложением</li>
	<li><span class="hl">template</span> - Представление. Отображение состояния заданное декларативно</li>
	<li><span class="hl">methods</span> - Действия. Возможные пути изменения состояния приложения в ответ на взаимодействие пользователя с представлением</li>
</ul>


<p>Из template должен возвращаться только 1 родительский объект</p>
<div class="container-flex"><div class="container-half"><pre><code class="js">
// не сработает, выведет только первый span
template: 
	`&lt;span&gt;1&lt;/span&gt;
	&lt;span&gt;2&lt;/span&gt;`
<br>
</code></pre></div><div class="container-half"><pre><code class="js">
// сработает
template: 
	`&lt;div&gt;
		&lt;span&gt;1&lt;/span&gt;
		&lt;span&gt;2&lt;/span&gt;
	&lt;/div&gt;`
</code></pre></div></div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<h2 id="component-local-global">Локальные и глобальные компоненты</h2>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<h4>Глобальная регистрация, работает для всех Vue объектов</h4>
<pre><code class="js">
Vue.component('component-a', {
	template: 'content'
});
</code></pre>

<h4>Локальная регистрация</h4>
<pre><code class="js">
var app = new Vue({
	el: '#app',
	components: { 
        'component-a': {
            template: 'content'
        } 
    }
});
</code></pre>

<h4>Локальная регистрация из объекта</h4>
<pre><code class="js">
var ComponentA = {
	template: 'content'
}

new Vue({
	el: '#app',
	components: {
		'component-a': ComponentA
	}
})
</code></pre>



<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<h2 id="component-transfer-content">Обмен данными между компонентами</h2>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

<!------------------------------------------------------>
<h3>Передача переменной в дочерний компонент (props)</h3>
<!------------------------------------------------------>

<h4></h4>

<pre><code class="html">
&lt;div id="app"&gt;
	&lt;task message="Hello" :name="userName"&gt;&lt;/task&gt;
&lt;/div&gt;
</code></pre>

<pre><code class="bash">
message="Hello"   # передача текста из html
:name="userName"  # передача переменной из app
</code></pre>

<pre><code class="js">
Vue.component('task', {
	template: '&lt;p&gt;{{ message + name }}&lt;/p&gt;',
	props: ['message', 'name']
	// props: {
    //     message: String
    // }
})
var app = new Vue({
	el: '#app',
    data: {
        userName: 'Tony'
    }
})
</code></pre>







<!------------------------------------------------------>
<h3>Передача переменной в дочерний компонент (тег slot)</h3>
<!------------------------------------------------------>
<pre>
<code class="html">
&lt;div id="app"&gt;
	&lt;task&gt;first&lt;/task&gt;
	&lt;task&gt;second&lt;/task&gt;
&lt;/div&gt;
</code>
<code class="js">
Vue.component('task', {
	template: '&lt;p&gt;this is a &lt;slot&gt;&lt;/slot&gt; new component&lt;/p&gt;'
})
var app = new Vue({
	el: '#app'
})
</code>
</pre>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<h2 id="component-template">Тег template</h2>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<pre>
<code class="html">
&lt;div id="app"&gt;
	&lt;starter&gt;Starter&lt;/starter&gt;
	&lt;starter&gt;Starter&lt;/starter&gt;
&lt;/div&gt;
&lt;template id="starter"&gt;
	&lt;div&gt;
		&lt;h1&gt;Hello&lt;/h1&gt;
		&lt;slot&gt;&lt;/slot&gt;
		&lt;button&gt;Ok&lt;/button&gt;
		&lt;button&gt;Cancel&lt;/button&gt;
	&lt;/div&gt;
&lt;/template&gt;
</code>
<code class="js">
Vue.component('starter', {
	template: '#starter',
	data: function() {
		return{
			active: false
		}
	},
	methods: {
		open(){
			this.active = true
		}
	}
})
var app = new Vue({
	el: '#app'
})
</code>
</pre>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<h2 id="component-dynamic">Динамические компоненты</h2>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<pre>
<code class="html">
&lt;!-- если нужна анимация, component обернуть в transition --&gt;
&lt;div id="app"&gt;
	&lt;nav&gt;
		&lt;a href="#" @click="changeView('orange')"&gt;orange&lt;/a&gt;
		&lt;a href="#" @click="changeView('blue')"&gt;blue&lt;/a&gt;
	&lt;/nav&gt;
	<span class="hc">&lt;component :is="currentView"&gt;&lt;/component&gt;</span>
&lt;/div&gt;

&lt;template id="orange-template"&gt;
	&lt;div class="orange-block"&gt;&lt;/div&gt;
&lt;/template&gt;
&lt;template id="blue-template"&gt;
	&lt;div class="blue-block"&gt;&lt;/div&gt;
&lt;/template&gt;
</code>
<code class="js">
var app = new Vue({
	el: '#app',
	data: {
		currentView: 'orange'
	},
	components: {
		orange: {
			template: '#orange-template'
		},
		blue: {
			template: '#blue-template'
		}
	},
	methods: {
		changeView(view) {
			this.currentView = view
		}
	}
})
</code>
</pre>


<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<h2 id="transition">Анимация</h2>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<img src="img/vue/animation1.png">
<pre>
<code class="html">
&lt;div id="app"&gt;
	&lt;button @click="show = !show"&gt;Toggle&lt;/button&gt;
	&lt;transition name="fade"&gt;
		&lt;p v-if="show"&gt;Lorem ipsum dolor sit amet, consecte&lt;/p&gt;
	&lt;/transition&gt;
&lt;/div&gt;
</code>
<code class="js">
var app = new Vue({
	el: '#app',
	data: {
		show: false
	}
})
</code>
<code class="css">
/*---------------------------------------------
Animation CSS1
----------------------------------------------*/
/* fade - название transition name="fade"*/
.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.4s;
}
.fade-enter,
.fade-leave-to {
	opacity: 0;
}
</code>
<code class="css">
/*---------------------------------------------
Animation CSS2
----------------------------------------------*/
.fade-enter-active {
	animation: fade 0.4s;
}
.fade-leave-active {
	animation: fade 0.4s reverse;
}
@keyframes fade {
	0%   { transform: scale(0); }
	50%  { transform: scale(1.5); }
	100% { transform: scale(1); }
}
p {
	width: 200px;
	height: 100px;
	background: orange;
}
</code>
</pre>


<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<h2 id="add-react-element">Добаление реактивных элементов</h2>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<pre><code class="js">
Vue.<span class="hc">set</span>(vm.items, indexOfItem, newValue)
</code></pre>

<h4>Массивы</h4>
<pre><code class="js">
var vm = new Vue({
	data: {
		items: ['a', 'b', 'c']
	}
})
</code></pre>

<div class="container-flex"><div class="container-half"><pre><code class="js">
vm.items[1] = 'x';   // не реактивно
vm.items.length = 2; // не реактивно
</code></pre></div><div class="container-half"><pre><code class="js">
Vue.set(vm.items, indexOfItem, newValue); // реактивно
vm.items.splice(newLength);               // реактивно
</code></pre></div></div>

<h4>Объекты</h4>
<pre><code class="js">
var vm = new Vue({
	data: {
		userProfile: {
			name: 'Anika'
		}
	}
})

Vue.set(vm.userProfile, 'age', 27)
</code></pre>

<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<h2 class="select">Vue Router</h2>
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<!------------------------------------------------------>
<h3 id="vue-router-script">Подключение через &lt;script&gt;</h3>
<!------------------------------------------------------>
<pre><code class="html">
&lt;script src="https://unpkg.com/vue/dist/vue.js"&gt;&lt;/script&gt;
&lt;script src="https://unpkg.com/vue-router/dist/vue-router.js"&gt;&lt;/script&gt;
</code></pre>

<h4>index.html</h4>
<pre><code class="html">
&lt;div id="app"&gt;
	&lt;router-link to="/home"&gt;Home&lt;/router-link&gt;
	&lt;router-link to="/about"&gt;About&lt;/router-link&gt;
	&lt;router-view&gt;&lt;/router-view&gt;
&lt;/div&gt;
&lt;script src="index.js"&gt;&lt;/script&gt;
</code></pre>

<h4>index.js</h4>
<pre><code class="js">
const Home = { template: '&lt;div&gt;Home&lt;/div&gt;' }
const About = { template: '&lt;div&gt;About&lt;/div&gt;' }

const routes = [
	{ path: '/home', component: Home },
	{ path: '/about', component: About }
]

const router = new VueRouter({
	routes
})

const app = new Vue({
	router
}).$mount('#app')
</code></pre>

<!------------------------------------------------------>
<h3 id="vue-router-npm">Подключение через NPM</h3>
<!------------------------------------------------------>
<pre><code class="bash">
npm i --save-dev vue-router 
</code></pre>

<pre><code class="bash"><em>
&hellip; public
	&#8226; index.html
&hellip; src
	&#8226; App.vue
	&#8226; main.js
&#8226; package.json
&#8226; vue.config.js
</em></code></pre>

<h4>vue.config.js</h4>
<pre><code class="js">
module.exports = {
    runtimeCompiler: true
};
</code></pre>

<h4>main.js</h4>
<pre><code class="js">
import Vue from 'vue'
import VueRouter from 'vue-router'
import App from './App.vue'

Vue.use(VueRouter)

const Foo = { template: '&lt;div&gt;foo1&lt;/div&gt;' }
const Bar = { template: '&lt;div&gt;bar2&lt;/div&gt;' }

const routes = [
    { path: '/foo', component: Foo },
    { path: '/bar', component: Bar }
]

const router = new VueRouter({
    mode: 'history',
    routes 
})

new Vue({
    el: '#app',
    render: h => h(App),
    router
})
</code></pre>

<h4>App.vue</h4>
<pre><code class="html">
&lt;template&gt;
    &lt;div id="app"&gt;
        &lt;router-link to="/foo"&gt;Перейти к Foo&lt;/router-link&gt;
        &lt;router-link to="/bar"&gt;Перейти к Bar&lt;/router-link&gt;
        &lt;router-view&gt;&lt;/router-view&gt;
    &lt;/div&gt;
&lt;/template&gt;
</code></pre>

<!------------------------------------------------------>
<h3 id="vue-router-desc">Описание</h3>
<!------------------------------------------------------>
<ul class="list-point">
	<li><span class="hl">&lt;router-link&gt;</span> - компонент для включения навигации пользователя в приложении с поддержкой роутинга</li>
	<li><span class="hl">&lt;router-view&gt;</span> - функциональный компонент, который отрисовывает согласованный компонент для данного пути</li>
	<li>Иногда один и тот же URL может совпасть с несколькими маршрутами. В таких случаях приоритет определяется порядком определения маршрутов: чем раньше определён маршрут, тем выше у него приоритет</li>
</ul>

<!------------------------------------------------------>
<h3 id="vue-router-active-link">Стилизация активной ссылки</h3>
<!------------------------------------------------------>
<pre><code class="css">
.router-link-active {
	/* при совпадении маршрута &lt;router-link&gt; автоматически получает класс */
	/* &lt;router-link&gt; представляет собой ссылку &lt;a&gt; */
}
</code></pre>

<!------------------------------------------------------>
<h3 id="vue-router-static-path">Статический путь</h3>
<!------------------------------------------------------>
<h4>Ссылка</h4>
<pre><code class="html">
&lt;router-link to="/contact"&gt;Контакты&lt;/router-link&gt;
</code></pre>
<pre><code class="js">
const routes = [
    { path: '/contact', component: Contact }
]
</code></pre>

<h4>Именованный маршрут</h4>
<pre><code class="html">
&lt;router-link :to="{name: 'contact'}"&gt;Контакты&lt;/router-link&gt;
</code></pre>
<pre><code class="js">
const routes = [
    { path: '/contact', component: Contact, name: 'contact' }
]
</code></pre>

<!------------------------------------------------------>
<h3 id="vue-router-dynamic-path">Динамический путь</h3>
<!------------------------------------------------------>
<pre><code class="html">
&lt;router-link :to="'/catalog/'+i"&gt;Подробнее&lt;/router-link&gt;                      &lt;!-- неименованный путь --&gt;
&lt;router-link :to="{name: 'product', params: {id: i}}"&gt;Подробнее&lt;/router-link&gt; &lt;!-- именованный путь --&gt;
</code></pre>
<pre><code class="js">
const routes = [
    { path: '/catalog/:id', component: Product }                  // неименованный путь
    { path: '/catalog/:id', component: Product, name: 'product' } // именованный путь
]
</code></pre>

<pre><code class="html">
&lt;template&gt;
	&lt;span&gt;{{ $route.params.id }}&lt;/span&gt;
&lt;/template&gt;
</code></pre>

<pre><code class="js">
export default {
    created() {
        console.log(this.$route.params.id);
    }
}
</code></pre>

<!------------------------------------------------------>
<h3 id="vue-comparison-path">Сопоставление путей</h3>
<!------------------------------------------------------>
<pre><code class="js">
path: '/contact'     // contact page
path: '/'            // index page
path: '*'            // сопоставляется со всем
path: '/user-*'      // сопоставляется со всем, начинающимся с '/user-'
path: '/catalog/:id' // динамический путь
</code></pre>



<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<h2 class="select">Vue CLI</h2>
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<!------------------------------------------------------>
<h3 id="vue-cli-components">Компоненты системы</h3>
<!------------------------------------------------------>
<ul class="list">
	<li><span class="hl">1. CLI (@vue/cli)</span> - npm-пакет, устанавливаемый глобально и предоставляющий команду <span class="hc">vue</span> в терминале. Он позволяет быстро создать новый проект командой <span class="hc">vue create</span>, или мгновенно прототипировать ваши новые идеи через <span class="hc">vue serve</span>. Также можно управлять проектами в графическом интерфейсе через <span class="hc">vue ui</span></li>
	<li><span class="hl">2. Сервис CLI (@vue/cli-service)</span> - зависимость для разработки. Это npm-пакет, устанавливаемый локально в каждый проект, создаваемый с помощью <span class="hc">@vue/cli</span>. Сервис CLI построен на основе <span class="hc">webpack</span> и <span class="hc">webpack-dev-server</span></li>
	<li><span class="hl">3. Плагины для CLI</span> - npm-пакеты, которые предоставляют дополнительные возможности для ваших проектов, создаваемых через Vue CLI</li>
</ul>
<ul class="list">
	<li><span class="hl">Пресет</span> - это связка плагинов и конфигураций</li>
</ul>

<!------------------------------------------------------>
<h3 id="vue-cli-bash">Bash Command</h3>
<!------------------------------------------------------>
<pre><code class="bash">
npm install -g @vue/cli                 # cli
npm install -g @vue/cli-service-global  # быстрый прототип приложения не создавая инфраструктуры, все зависимости берутся из глобальных
</code></pre>

<pre><code class="bash">
npm install     # install dependencies
npm run dev     # serve with hot reload at localhost:8080
npm run serve   # serve with hot-reload
npm run build   # build for production with minification (создает папку dist с готовым js)
</code></pre>

<pre><code class="bash">
node --version  # версия nodejs
vue --version   # версия Vue CLI
</code></pre>

<!------------------------------------------------------>
<h3 id="vue-cli-vue">Vue Command</h3>
<!------------------------------------------------------>

<h4><span class="hh">vue serve</span></h4>
<p>Запустить .js или .vue файл в режиме разработки без конфигурации</p>
<pre><code class="bash">
<span class="hc">serve</span> [options] [entry]
	-o, --open             # открыть в браузере
	-c, --copy             # скопировать локальный URL в буфер обмена
	-h, --help             # вывести информацию об использовании команды
</code></pre>

<pre><code class="bash">
vue serve                  # aвтоматически выбирает стартовый файл в текущем каталоге — этот файл может быть одним из main.js, index.js, App.vue или app.vue
vue serve MyComponent.vue  # явное указание стартового файла
</code></pre>

<h4><span class="hh">vue build</span></h4>
<p>Собрать .js или .vue файл в режиме production без конфигурации</p>
<pre><code class="bash">
<span class="hc">build</span> [options] [entry]
	-t, --target &lt;target&gt;  # цели сборки (app | lib | wc | wc-async, по умолчанию: app)
	-n, --name &lt;name&gt;      # имя для библиотеки или веб-компонента (по умолчанию: имя файла входной точки)
	-d, --dest &lt;dir&gt;       # каталог расположения готовой сборки (по умолчанию: dist)
	-h, --help             # вывести информацию об использовании команды
</code></pre>

<pre><code class="bash">
vue build MyComponent.vue  # собрать целевой файл в режиме production для публикации
</code></pre>

<h4><span class="hh">vue create</span></h4>
<p>Создание нового проекта с помощью vue-cli-service</p>
<pre><code class="bash">
<span class="hc">create</span> [options] &lt;app-name&gt;
	-p, --preset &lt;presetName&gt;       # пропустить подсказки и использовать сохранённый или сторонний пресет настроек
	-d, --default                   # пропустить подсказки и использовать пресет настроек по умолчанию
	-i, --inlinePreset &lt;json&gt;       # пропустить подсказки и использовать вставленную строку JSON в качестве пресета настроек
	-m, --packageManager &lt;command&gt;  # использовать указанный npm клиент при установке зависимостей
	-r, --registry &lt;url&gt;            # использовать указанный npm регистр при установке зависимостей
	-g, --git [message|false]       # форсировать / пропустить инициализацию git, опционально указать сообщение к первому коммиту
	-n, --no-git                    # пропустить инициализацию git
	-f, --force                     # перезаписать целевой каталог, если такой уже есть
	-c, --clone                     # использовать git clone при загрузке стороннего пресета настроек
	-x, --proxy                     # использовать указанный прокси при создании проекта
	-b, --bare                      # развернуть проект не показывая инструкции для новичков
	-h, --help                      # вывод информации об использовании команды
</code></pre>

<pre><code class="bash">
vue create hello-world
</code></pre>

<h4><span class="hh">vue ui</span></h4>
<p>Графический интерфейс</p>
<pre><code class="bash">
vue ui
</code></pre>

<h4><span class="hh">vue add</span></h4>
<p>Добавление новых плагинов</p>
<pre><code class="bash">
vue add vuex
</code></pre>

<!------------------------------------------------------>
<h3 id="vue-cli-desc">Описание</h3>
<!------------------------------------------------------>
<ul class="list-point">
	<li><span class="hl">scoped</span> - применение css стилей только для текущего компонента</li>
	<li><span class="hl">template</span> - должен содержать только 1 родительский элемент</li>
	<li>Файл index.html содержит простую разметку HTML с единственным элементом "app" в body. Он будет заменён на DOM, сгенерированный vue. По этой причине тэг body не рекомендуется использовать в качестве корневого элемента</li>
</ul>

<!------------------------------------------------------>
<h3 id="vue-cli-import">Импорт и экспорт</h3>
<!------------------------------------------------------>
<h4>Переменная</h4>
<pre><code class="js">
export var a = 10                                  // App.vue
import {a} from './App.vue'                        // main.js
</code></pre>

<h4>Компонент</h4>
<pre><code class="js">
export default {}                                  // Header.vue
import Header from './components/Header.vue'       // App.vue
</code></pre>

<h4>JSON</h4>
<pre><code class="js">
import listJSON from '../assets/json/catalog.json' // json
</code></pre>

<!------------------------------------------------------>
<h3 id="vue-file-render">Функция render()</h3>
<!------------------------------------------------------>
<pre><code class="js">
render: function(h) { 
    return h(App) 
}
</code></pre>

<pre><code class="js">
render: h => h (App)
</code></pre>
<ul class="list-point">
	<li><span class="hl">h</span> является сокращением от hyperscript</li>
	<li><span class="hl">hyperscript</span> - скрипт, который генерирует HTML-структуру</li>
	<li>Про сокращение h можно думать как о более краткой форме функции createElement</li>
</ul>

<pre><code class="js">
// vue-версия функции render() принимает три аргумента
render(h) {
	return h('div', {}, [...])
}
// 1 - тип элемента
// 2 - объект данных (свойства, атрибуты, классы, стили)
// 3 - массив дочерних Node-узлов (можно размещать вложенные вызовы функции createElement и вернуть обратно дерево виртуальных DOM-узлов)
</code></pre>

<!------------------------------------------------------>
<h3 id="vue-file-structure">Структура</h3>
<!------------------------------------------------------>
<h4>main.js</h4>
<pre><code class="js">
import Vue from 'vue'
import App from './App.vue'

new Vue({
    el: '#app',
    render: function(h) { 
        return h(App) 
    }
	// render: h => h (App)
})
</code></pre>

<h4>App.vue</h4>
<pre><code class="html">
&lt;template&gt;
    &lt;div id="app"&gt;
        &lt;img src="./assets/logo.png"&gt;
        &lt;h1&gt;Text App&lt;/h1&gt;
        &lt;h2&gt;{{text}}&lt;/h2&gt;
        &lt;app-header message="Text Header"&gt;&lt;/app-header&gt;
    &lt;/div&gt;
&lt;/template&gt;
</code></pre>

<pre><code class="js">
&lt;script&gt;
import Header from './components/Header.vue'

export default {
    components: {
        'app-header': Header
    },
    data() {
        return {
            text: 'Text in Vue'
        }
    },
    methods: {
        testMethod() {
            //
        }
    }
}
&lt;/script&gt;
</code></pre>

<pre><code class="css">
&lt;style scoped&gt;
h1 {
    color: blue;
}
&lt;/style&gt;
</code></pre>

<h4>Header.vue</h4>
<pre><code class="html">
&lt;template&gt;
    &lt;div&gt;
        &lt;h1&gt;{{message}}&lt;/h1&gt;
        &lt;h2&gt;{{text}}&lt;/h2&gt;
    &lt;/div&gt;
&lt;/template&gt;
</code></pre>

<pre><code class="js">
&lt;script&gt;
export default {
    data() {
        return {
            text: 'Text in Header'
        }
    },
    props: {
        message: String
    }
}
&lt;/script&gt;
</code></pre>

<pre><code class="css">
&lt;style scoped&gt;
h1 {
    color: orange;
}
&lt;/style&gt;
</code></pre>

<!------------------------------------------------------>
<h3 id="vue-cli-vscode">Настройка Visual Studio Code</h3>
<!------------------------------------------------------>
<pre><code class="bash">
Vetur    # плагин для подстветки синтаксиса
</code></pre>

<p>Settings -> Extensions -> Emmet -> Edit in settings.json</p>
<pre><code class="json">
"emmet.showAbbreviationSuggestions": true,
"emmet.showExpandedAbbreviation": "always",
"emmet.includeLanguages": {
	"vue-html": "html",
	"vue": "html"
}
</code></pre>


<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<h2 class="select">Axios</h2>
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<!------------------------------------------------------>
<h3 id="axios-desc">Описание</h3>
<!------------------------------------------------------>
<pre><code class="html">
<a href="https://github.com/axios/axios" target="_blank">GitHub Axios</a>
</code></pre>

<pre><code class="bash">
npm i axios --save
</code></pre>

<pre><code class="js">
const axios = require('axios');
</code></pre>

<!------------------------------------------------------>
<h3 id="ajax-request">Технологии ajax запросов</h3>
<!------------------------------------------------------>
<pre><code>
- XMLHttpRequest (не используют в явном виде, создаются обертки)
- Fetch (нативный, полифил для IE)
- Vue Resource (до версии Vue 2)
- Axios
</code></pre>

<!------------------------------------------------------>
<h3 id="axios-settings">Конфигурование сервера</h3>
<!------------------------------------------------------>
<pre><code class="html">
<a href="https://router.vuejs.org/ru/guide/essentials/history-mode.html#примеры-конфигурирования-серверов" target="_blank">Примеры конфигурирования серверов</a>
</code></pre>

<h4>.htaccess</h4>
<pre><code class="bash">
&lt;IfModule mod_rewrite.c&gt;
	RewriteEngine On
	RewriteBase /
	RewriteRule ^index\.html$ - [L]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule . /index.html [L]
&lt;/IfModule&gt;
</code></pre>

<!------------------------------------------------------>
<h3 id="axios-get">GET</h3>
<!------------------------------------------------------>
<pre><code class="js">
axios.get('url')
.then(response => {
	console.log(response.data);
})
.catch(error => console.log(error));
</code></pre>

<!------------------------------------------------------>
<h3 id="axios-post">POST</h3>
<!------------------------------------------------------>
<pre><code class="js">
axios.post('url', {
		firstName: 'Fred',
		lastName: 'Flintstone'
	})
	.then(function (response) {
		console.log(response);
	})
	.catch(function (error) {
		console.log(error);
	});
</code></pre>


<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<h2 class="select">Vuex</h2>
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<h2 id="vuex-desc">Описание</h2>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<ul>
	<li class="list-point"><span class="hl">Vuex</span> - паттерн управления состоянием + библиотека для приложений на Vue.js. Он служит централизованным хранилищем данных для всех компонентов приложения с правилами, гарантирующими, что состояние может быть изменено только предсказуемым образом</li>
</ul>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<h2 id="vuex-src">Подключение</h2>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<h4>Подключение через &lt;script&gt;</h4>
<pre><code class="html">
&lt;script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.22/vue.min.js"&gt;&lt;/script&gt;
&lt;script src="https://cdnjs.cloudflare.com/ajax/libs/vuex/3.1.0/vuex.min.js"&gt;&lt;/script&gt;
</code></pre>

<h4>Подключение через NPM</h4>
<pre><code class="js">
import Vue from 'vue'
import Vuex from 'vuex'
Vue.use(Vuex)
</code></pre>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<h2 id="vuex-state">Состояние</h2>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

<!------------------------------------------------------>
<h3>Vuex.Store</h3>
<!------------------------------------------------------>
<pre><code class="js">
const store = <span class="hc">new Vuex.Store</span>({
    state: {
        count: 0,
        name: null
    },
    mutations: {
        changeStore(state, payload) {
            state.count = payload.count;
            state.name = payload.name;
        }
    }
})
</code></pre>

<!------------------------------------------------------>
<h3>HTML</h3>
<!------------------------------------------------------>
<pre><code class="html">
&lt;div id="app"&gt;
	{{count}} {{name}}
	&lt;button @click="change"&gt;Изменить состояние&lt;/button&gt;
	&lt;component-child&gt;&lt;/component-child&gt;
&lt;/div&gt;
</code></pre>

<!------------------------------------------------------>
<h3>Дочерний компонент</h3>
<!------------------------------------------------------>
<pre><code class="js">
const ComponentChild = {
    template: `&lt;div&gt;{{ count }}&lt;/div&gt;`,
    computed: {
        count() {
            return <span class="hc">this.$store.state.count</span>; // получение доступа к объекту состояния из дочернего элемента
        }
    }
}
</code></pre>

<!------------------------------------------------------>
<h3>Родительский компонент</h3>
<!------------------------------------------------------>
<pre><code class="js">
var app = new Vue({
	el: '#app',
    // указание хранилища в опции «store» обеспечивает
    // доступ к нему также и во всех дочерних компонентах через this.$store
	<span class="hc">store</span>,
	components: { 
        'component-child': ComponentChild 
    },
	methods: {
		change() {
			<span class="hc">store.commit</span>('changeStore', {count:77, name:'Tony'}); // изменение состояния
		}
	},
	computed: {
		count() { return <span class="hc">store.state.count</span>; }, // получение доступа к объекту состояния
		name()  { return <span class="hc">store.state.name</span>; }   // получение доступа к объекту состояния
	}
});
</code></pre>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<h2 id="vuex-getters">Геттеры</h2>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

<h4>Установка геттера в Vuex.Store</h4>
<pre><code class="js">
const store = new Vuex.Store({
    state: {
        count: 0
    },
    <span class="hc">getters</span>: {
        storeCount(state) {
            return state.count
        }
    }
})
</code></pre>

<h4>Чтение геттера</h4>
<pre><code class="html">
&lt;template&gt;
    &lt;div class="container"&gt;Корзина покупок {{ <span class="hc">count</span> }}&lt;/div&gt;
&lt;/template&gt;
</code></pre>

<pre><code class="js">
&lt;script&gt;
export default {
    computed: {
        <span class="hc">count()</span> {
            return <span class="hc">this.$store.getters.storeCount</span>
        }
    }
}
&lt;/script&gt;
</code></pre>

<h4>Чтение геттера (mapGetters)</h4>
<pre><code class="html">
&lt;template&gt;
    &lt;div class="container"&gt;Корзина покупок {{ <span class="hc">storeCount</span> }}&lt;/div&gt;
&lt;/template&gt;
</code></pre>

<pre><code class="js">
&lt;script&gt;
import { <span class="hc">mapGetters</span> } from 'vuex'

export default {
    computed: {
    	// смешиваем результат mapGetters с внешним объектом computed
        <span class="hc">...mapGetters</span>([
            <span class="hc">'storeCount'</span>
        ])
    }
}
&lt;/script&gt;
</code></pre>

<pre><code class="js">
// указание другого имени
export default {
    computed: {
        ...mapGetters({
            count: 'storeCount'
        })
    }
}
</code></pre>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<h2 id="vuex-mutations">Мутации</h2>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

<ul class="list-point">
	<li><span class="hl">Мутации</span> являются единственным способом изменения состояния хранилища во Vuex</li>
	<li>Обработчики мутаций обязаны быть синхронными. Во Vuex мутации — это синхронные транзакции</li>
</ul>

<!------------------------------------------------------>
<h3>Простые мутации</h3>
<!------------------------------------------------------>
<pre><code class="js">
const store = new Vuex.Store({
	state: {
		count: 1
	},
	<span class="hc">mutations</span>: {
		changeStore(state) {
			state.count++;
		}
	}
});
</code></pre>

<pre><code class="js">
var app = new Vue({
	el: '#app',
	methods: {
		change() {
			<span class="hc">store.commit</span>('changeStore');
		}
	}
});
</code></pre>

<!------------------------------------------------------>
<h3>Мутации с нагрузкой</h3>
<!------------------------------------------------------>
<pre><code class="js">
<span class="hc">mutations</span>: {
    changeStore(state, <span class="hc">payload</span>) {
        state.count = payload.count;
        state.name = payload.name;
    }
}

methods: {
	change() {
		<span class="hc">store.commit</span>('changeStore', {count:77, name:'Tony'}); // изменение состояния
	}
}
</code></pre>

<!------------------------------------------------------>
<h3>Объектный синтаксис</h3>
<!------------------------------------------------------>
<pre><code class="js">
<span class="hc">store.commit</span>({
	type: 'changeStore',
	count: 77
});
</code></pre>

<pre><code class="js">
<span class="hc">mutations</span>: {
	changeStore(state, payload) {
		state.count = payload.count;
	}
}
</code></pre>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<h2 id="vuex-actions">Действия</h2>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<ul class="list-point">
	<li>Вместо того, чтобы напрямую менять состояние, действия инициируют мутации</li>
	<li>Действия могут использоваться для асинхронных операций</li>
	<li>mapActions создает локальные псевдонимы для действий в виде методов компонента</li>
</ul>

<h4>Диспетчеризация действий</h4>

<pre><code class="js">
export const store = new Vuex.Store({
    state: {
        count: 0
    },
    mutations: {
        changeCount(state, payload) {
            state.count = payload.count;
        }
    },
    actions: {
        changeCount(context, payload) {
            context.commit('changeCount', {count:payload.count});
        }
    }
});
</code></pre>

<pre><code class="html">
&lt;div id="app"&gt;
	&lt;button @click="changeCount"&gt;ChangeState&lt;/button&gt;
&lt;/div&gt;
</code></pre>

<pre><code class="js">
import {store} from './vuex.js'

export default {
    methods: {
        changeCount() {
            store.dispatch('changeCount', {count: 77});
        }
    }
}
</code></pre>

<h4>mapActions</h4>

<pre><code class="js">
import { mapActions } from 'vuex'

export default {
    methods: {
        ...mapActions([
            'changeCount'
        ])
    }
}
</code></pre>

<h4>mapActions с нагрузкой</h4>

<pre><code class="html">
&lt;div id="app"&gt;
    &lt;button @click="changeCount(77)"&gt;ChangeState&lt;/button&gt;
&lt;/div&gt;
</code></pre>

<pre><code class="js">
store = new Vuex.Store({
    actions: {
        changeCount({ commit }, count) {
            commit('changeCount', {count:count});
        }
    }
});
</code></pre>

<h4>Вернуть значение из actions</h4>
<pre><code class="js">
store = new Vuex.Store({
    actions: {
    	addProductId({ commit }, id) {
	        commit('addProductId', {count:id});
	        return true;
	    }
    }
});
</code></pre>

<pre><code class="js">
export default {
    methods: {
		...mapActions([
			'addProductId'
		]),
        chooseProduct(id) {
            this.addProductId(id).then(response => {
            	console.log(response);
            });
        }
    }
}
</code></pre>


<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<h2 id="vuex-sample1">Пример #1</h2>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<h4>vuex.js</h4>
<pre><code class="js">
import Vue from 'vue'
import Vuex from 'vuex'

Vue.use(Vuex)

export const store = new Vuex.Store({
    state: {
        count: 0
    },
    getters: {
        storeCount(state) {
            return state.count;
        }
    },
    mutations: {
        changeCount(state, payload) {
            state.count = payload.count;
        }
    },
    actions: {
        changeCount({ commit }, count) {
            commit('changeCount', {count:count});
        }
    }
});
</code></pre>

<h4>App.vue</h4>
<pre><code class="html">
&lt;template&gt;
    &lt;div id="app"&gt;
        {{ storeCount }}
        &lt;button @click="changeCount(77)"&gt;ChangeState&lt;/button&gt;
    &lt;/div&gt;
&lt;/template&gt;
</code></pre>

<pre><code class="js">
&lt;script&gt;
import { mapGetters } from 'vuex'
import { mapActions } from 'vuex'
import {store} from './vuex.js'

export default {
    computed: {
        ...mapGetters([
            'storeCount'
        ])
    },
    methods: {
        ...mapActions([
            'changeCount'
        ])
    }
}
&lt;/script&gt;
</code></pre>





</div>
</div>
    <script src="libraries/jquery.js"></script>
	<script src="libraries/highlight/highlight.pack.js"></script>
	<script src="module/scroll_up/scrollUp.js"></script>
	<script src="js/main.js"></script>
	<script src="module/preloader/preloader.js"></script>
	<script src="module/scroll_up/script.js"></script>
	<!-- <script src="module/menu-scroll/menu-scroll.js"></script> -->
</body>
</html>