<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
    <title>Anton Sergeenkov. Frontend Developer</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="../../img/favicon.svg">

	<link rel="stylesheet" href="../basic.css">
	<link rel="stylesheet" href="../layout-cv.css">
	<!-- <link rel="stylesheet" href="./style.css"> -->
</head>
<body>

	<div id="stack" class="g-wrapper">
		<div class="g-container" v-for="stackObj in stackContent">

			<div class="g-header">
				<span class="g-header-text" v-text="stackObj.title"></span>
			</div>

			<ul class="g-list">
				<li class="g-list-item" v-for="stackArr in stackObj.items">
					<div class="g-list-item-wrapper">
						<span class="g-list-badge" v-for="stackItem in stackArr" v-text="stackItem"></span>
					</div>
				</li>
			</ul>

		</div>
	</div>

	<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js'></script>
	<script src="./script.js"></script>

</body>
</html>
