/***************************************************
COMMON
/***************************************************/
:root {
	--color-white:      255, 255, 255;
	--color-black:      0, 0, 0;
	--color-gray-light: 248, 249, 250;
	--color-gray-dark:  175, 184, 193;
	--color-blue-dark:  36, 41, 47;

	--shadow:
		0 16px 24px 2px rgba(33,37,41,.02), 
		0 6px 30px 5px rgba(33,37,41,.04), 
		0 8px 10px -5px rgba(33,37,41,.1);
}
*, *:after, *:before {
    box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: var(--color-gray-light);
}

/***************************************************
SCROLLBAR
/***************************************************/
* {
	scrollbar-color: rgba(var(--color-black), .4) rgba(var(--color-black), .1);
	scrollbar-width: thin;
}
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-thumb {
	background-color: rgba(var(--color-black), .4);
	border-radius: 2px;
}
::-webkit-scrollbar-track {
	background-color: rgba(var(--color-black), .1);
}

/***************************************************
STACK
/***************************************************/
.g-wrapper {
	width: 800px;
	margin: 30px auto;
	padding: 20px;
	border-radius: .25rem;
	background-color: rgb(var(--color-white));
	box-shadow: var(--shadow);
}
.g-container {
	margin-bottom: 40px;
}
.g-header {
	margin-bottom: 10px;
	padding: 5px 10px;
}
.g-header-text {
	padding-bottom: 5px;
	border-bottom: 1px solid rgba(var(--color-gray-dark), 1);
	font-size: 17px;
	font-weight: 600;
	font-family: "Segoe UI", Helvetica, Arial;
	color: rgb(var(--color-blue-dark));
}
.g-list {
	padding: 0 15px;
}
.g-list-item {
	margin: 5px;
	font-size: 11px;
	color: rgba(var(--color-gray-dark), 1);
}
.g-list-text {
	display: inline-block;
	margin-right: 5px;
	margin-top: 5px;
	padding: 3px 5px;
	font-size: 14px;
	font-family: Consolas;
	color: rgba(var(--color-blue-dark));
	border-radius: 6px;
	background-color: rgba(var(--color-gray-dark), .2);
}

@media screen and (max-width: 850px) {
	.g-wrapper {
		width: 90%;
	}
}
