/***************************************************
SECTIONS
/***************************************************/
.section {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 40px;
  padding: 0 40px;
}

.section-header-footer {
  margin-bottom: 0;
}

/***************************************************
ADAPTIVE
/***************************************************/
@media screen and (max-width: 600px) {
  .section {
    padding: 0 20px;
  }
}

/***************************************************
CLASSES
/***************************************************/
.textGradient {
  /* background: -webkit-linear-gradient(right bottom, #162454, #533389, #0a9ed8, #7a359f); */
  background: -webkit-linear-gradient(
    right bottom,
    #e2e9b3,
    #533389,
    #0a9ed8,
    #162454
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.h1 {
  font-size: 25px;
  margin: 0;
  text-align: left;
  font-family: var(--font-roboto-light);
}
.h2 {
  font-size: 22px;
  margin: 5px 0px 15px 0px;
  padding: 15px 0px;
  font-family: var(--font-roboto-light);
}
.h3 {
  font-size: 18px;
  margin: 0;
  text-align: left;
}
