/***************************************************
COMMON
/***************************************************/
:root {
	--color-white: #ffffff;
	--color-light: #f8f9fa;
	--color-gray:  #6b6b6b;
	--color-dark:  #24292f;
	--color-brown: 179, 183, 104;
	--color-black: 0, 0, 0;
	--shadow:
		0 16px 24px 2px rgba(33,37,41,.02), 
		0 6px 30px 5px rgba(33,37,41,.04), 
		0 8px 10px -5px rgba(33,37,41,.1);
}
*, *:after, *:before {
    box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: var(--color-light);
}

/***************************************************
TABLE
/***************************************************/
.wrapper {
	display: flex;
	flex-wrap: wrap;
	grid-template-columns: auto auto auto;
	margin: auto;
	margin-top: 20px;
	width: 800px;
}
.wrapper .item {
	padding: 10px;
}
.container {
	background-color: var(--color-white);
	box-shadow: var(--shadow);
	margin: 10px;
	padding: 10px;
	border-radius: 0.25rem;
	width: calc(50% - 20px);
}


/***************************************************
ELEMENTS
/***************************************************/
.header {
	padding-bottom: 5px;
	font-size: 17px;
	font-weight: 600;
	font-family: "Segoe UI", Helvetica, Arial;
	color: var(--color-dark);
}
a {
	color: var(--color-gray);
}
.badge {
	padding: 5px 7px;
	font-size: 14px;
	font-family: Consolas;
	color: var(--color-dark);
	border-radius: 6px;
	background-color: rgba(var(--color-brown), .2);
	color: rgb(var(--color-brown))
}

@media screen and (max-width: 800px) {
	.wrapper {
		width: 100%;
		padding-right: 30px;
		padding-left: 30px;
	}
	.container {
		width: 100%;
	}
}

/***************************************************
SCROLLBAR
/***************************************************/
* {
	scrollbar-color: rgba(var(--color-black), .4) rgba(var(--color-black), .1);
	scrollbar-width: thin;
}
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-thumb {
	background-color: rgba(var(--color-black), .4);
	border-radius: 2px;
}
::-webkit-scrollbar-track {
	background-color: rgba(var(--color-black), .1);
}
