.wrapper {
  /* background-color: var(--color-black-lighter); */
  background-color: var(--color-gray-10);
  border-top: 1px solid var(--color-gray-30);
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--height-footer);
  font-size: 14px;
  text-align: center;
}
.items {
  padding: 10px;
  /* color: var(--color-gray-50); */
  color: var(--color-gray-80);
}

.logoConteiner {
  display: flex;
  align-items: center;
}
.logo {
  width: 45px;
  height: 45px;
  flex-shrink: 0;
  margin-right: 15px;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
  background-image: url(./img/avatar.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

/***************************************************
ADAPTIVE
/***************************************************/
@media screen and (max-width: 600px) {
  .logo {
    display: none;
  }
}
