.wrapper {
  background-color: var(--color-white);
}
.container {
}

.wrapperList ul {
  margin-top: 6px;
  margin-bottom: 10px;
  border-left: 1px solid var(--color-gray-35);
}

.title {
  color: var(--color-blue-darker);
}
