<h2>Компоненты и пропсы</h2>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<h3>Функциональные и классовые компоненты</h3>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<v-two type="js;js" comment="Функциональный;Классовый">
<template v-slot:first>
function Welcome(props) {
	return &lt;h1&gt;Привет, {props.name}&lt;/h1&gt;;
}
// она получает данные через props
// возвращает React-элемент
</template>
<template v-slot:last>
class Welcome extends React.Component {
	render() {
		return &lt;h1&gt;Привет, {this.props.name}&lt;/h1&gt;;
	}
}
</template>
</v-two>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<h3>Импорт</h3>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<v-two type="js;js" comment="React.Component;Component">
<template v-slot:first>
import React from 'react';
export default class Logo extends <bg-code>React.Component</bg-code> {
	//
}
</template>
<template v-slot:last>
import React, {Component} from 'react';
export default class App extends <bg-code>Component</bg-code> {
	//
}
</template>
</v-two>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<h3>Экспорт</h3>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<v-two type="js;js" comment="class;export default class">
<template v-slot:first>
class App extends Component {
	//
}
export default App;
</template>
<template v-slot:last>
export default class App extends Component {
	//
}
</template>
</v-two>


<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<h3>Рендеринг</h3>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<ul class="list-point">
	<li>Элементы могут описывать и наши собственные компоненты</li>
	<li>Когда React встречает подобный элемент, он собирает все JSX-атрибуты в один объект и передаёт их нашему компоненту. Этот объект называется <u>«пропсы» (props)</u></li>
</ul>

<pre><code class="js">
function Welcome(props) {
	return &lt;h1&gt;Привет, {props.name}&lt;/h1&gt;;
}

const element = &lt;Welcome name="Алиса" /&gt;;
ReactDOM.render(element, document.getElementById('root'));
</code></pre>

<ol class="list-num">
	<li>Мы передаём React-элемент <code class="txt">&lt;Welcome name="Алиса" /&gt;</code> в <code class="txt">ReactDOM.render()</code></li>
	<li>React вызывает наш компонент <code class="txt">Welcome</code> с пропсами <code class="txt">{name: 'Алиса'}</code></li>
	<li>Наш компонент <code class="txt">Welcome</code> возвращает элемент <code class="txt">&lt;h1&gt;Привет, Алиса&lt;/h1&gt;</code> в качестве результата</li>
	<li>React DOM делает минимальные изменения в DOM, чтобы получилось <code class="txt">&lt;h1&gt;Привет, Алиса&lt;/h1&gt;</code></li>
</ol>

<alert-info>
	Всегда называйте компоненты с заглавной буквы. Если компонент начинается с маленькой буквы, React принимает его за DOM-тег. Например, <code class="txt">&lt;div /&gt;</code> это div-тег из HTML, а <code class="txt">&lt;Welcome /&gt;</code> это уже наш компонент <code class="txt">Welcome</code>, который должен быть в области видимости
</alert-info>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<h3>Классовые компоненты jsx/js</h3>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<div class="container-flex"><div class="container-half"><pre><code class="js"><code-type>jsx</code-type>
class App extends React.Component {
	render() {
		return &lt;button&gt;Кнопка&lt;/button&gt;;
	}
}
ReactDOM.render(
	&lt;App /&gt;,
	document.getElementById('root')
);
</code></pre></div><div class="container-half"><pre><code class="js"><code-type>js</code-type>
const e = React.<bg-code>createElement</bg-code>;
class App extends React.Component {
	render() {
		return <bg-code>e</bg-code>('button', null, 'Кнопка');
	}
}
ReactDOM.render(
	<bg-code>e</bg-code>(App),
	document.getElementById('root')
);
</code></pre></div></div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<h3>Композиция компонентов</h3>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<ul class="list-point">
	<li>Компоненты могут ссылаться на другие компоненты в возвращённом ими дереве. Это позволяет нам использовать одну и ту же абстракцию - компоненты - на любом уровне нашего приложения</li>
</ul>

<pre><code class="js">
function Welcome(props) {
	return &lt;h1&gt;Привет, {props.name}&lt;/h1&gt;;
}
// компонент App может отрендерить компонент Welcome несколько раз
function App() {
	return (
		&lt;div&gt;
			&lt;Welcome name="Алиса" /&gt;
			&lt;Welcome name="Базилио" /&gt;
			&lt;Welcome name="Буратино" /&gt;
		&lt;/div&gt;
	);
}
ReactDOM.render(&lt;App /&gt;, document.getElementById('root'));
</code></pre>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<h3>Классовые компоненты с пропсами</h3>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<div class="container-flex"><div class="container-half">
<b>Классовый компонент</b>
<pre><code class="js">
class App extends React.Component {
	<bg-code>render()</bg-code> {
		return (
			&lt;div&gt;
				&lt;Button name="Кнопка" /&gt;
			&lt;/div&gt;
		);
	}
}
class Button extends React.Component {
	<bg-code>render()</bg-code> {
		return &lt;button&gt;{<bg-code>this.props.name</bg-code>}&lt;/button&gt;;
	}
}
ReactDOM.render(
	&lt;App /&gt;,
	document.getElementById('root')
);
</code></pre>
</div><div class="container-half">
<b>Функциональный компонент</b>
<pre><code class="js">
function App() {
	return (
		&lt;div&gt;
			&lt;Button name="Кнопка" /&gt;
		&lt;/div&gt;
	);
}
function Button(props) {
	return &lt;button&gt;{props.name}&lt;/button&gt;;
}
ReactDOM.render(
	&lt;App /&gt;,
	document.getElementById('root')
);
</code></pre>
</div></div>
