<h2>Информация</h2>

<ul class="list-point">
	<li><u-text-define>Компоненты</u-text-define> - позволяют разбить интерфейс на независимые части, про которые легко думать в отдельности. Их можно складывать вместе и использовать несколько раз</li>
	<li>Во многом компоненты ведут себя как обычные функции JavaScript. Они принимают произвольные входные данные («<u>пропсы</u>») и возвращают React-элементы, описывающие, что мы хотим увидеть на экране</li>
	<li>Принцип единственной ответственности: каждый компонент по-хорошему должен заниматься какой-то одной задачей</li>

	<hr>
	<li><u-text-define>Stateful Component</u-text-define> (компоненты с состоянием) - делают что-то с данными и работают со стором</li>
	<ul class="list-point">
		<li><b>Название: </b>Умные компоненты</li>
		<li><b>Директория: </b>containers</li>
		<li><b>Реализация: </b>классы</li>
		<li><b>Наличие state: </b>да</li>
	</ul>

	<li><u-text-define>Stateless Functional Components</u-text-define> (функциональные компоненты без состояния) - получают данные и их отрисовывают</li>
	<ul class="list-point">
		<li><b>Название: </b>Глупые компоненты</li>
		<li><b>Директория: </b>components</li>
		<li><b>Реализация: </b>функции</li>
		<li><b>Наличие state: </b>нет</li>
	</ul>

	<img src="/img/react/components-type.png" width="650px">

	<hr>
	<li><u-text-define>Пропсы</u-text-define> - это способ передачи данных от родителя к потомку</li>
	<li>Пропсы можно только читать. React-компоненты обязаны вести себя как чистые функции по отношению к своим пропсам (не должен что-то записывать в свои пропсы)</li>
	<li>Компоненты могут принимать произвольные пропсы, включая примитивные значения, React-элементы или функции</li>
</ul>
