<h2>Передача событий между компонентами</h2>

<h3>Прослушиване событий</h3>
<pre><code class="html">
&lt;app-child @close="modal = false"&gt;&lt;/app-child&gt;   &lt;!-- родительский компонент --&gt;
&lt;button @click="<bg-code>$emit</bg-code>('close')"&gt;&lt;/button&gt;        &lt;!-- дочерний компонент --&gt;
</code></pre>

<pre><code class="html">
&lt;app-child @close="modal = $event"&gt;&lt;/app-child&gt;  &lt;!-- родительский компонент --&gt;
&lt;button @click="<bg-code>$emit</bg-code>('close', true)"&gt;&lt;/button&gt;  &lt;!-- дочерний компонент --&gt;
</code></pre>