<h2>Передача переменных между компонентами (props)</h2>

<!------------------------------------------------------>
<h3>Родительский компонент</h3>
<!------------------------------------------------------>
<pre><code class="html">
&lt;div id="app"&gt;
	&lt;task message="Hello" :name="userName"&gt;&lt;/task&gt;
&lt;/div&gt;
</code></pre>

<pre><code class="bash">
message="Hello"   # передача текста из html
:name="userName"  # передача переменной из app
</code></pre>

<!------------------------------------------------------>
<h3>Дочерний компонент</h3>
<!------------------------------------------------------>
<pre><code class="js">
Vue.component('task', {
	template: '&lt;p&gt;{{ message + name }}&lt;/p&gt;',
	props: ['message', 'name']
})
var app = new Vue({
	el: '#app',
    data: {
        userName: 'Tony'
    }
})
</code></pre>

<!------------------------------------------------------>
<h3>Варианты props</h3>
<!------------------------------------------------------>
<pre><code class="js">
props: ['message', 'name']
props: {
	message: String
}
props: {
    count: {
        type: Number,    // задание типа
        default: 77,     // значение по умолчанию
        required: true   // обязательное значение
    }
}
</code></pre>

<p>Значением type может быть один из следующих нативных конструкторов:
	<bg-code>String</bg-code>
	<bg-code>Number</bg-code>
	<bg-code>Boolean</bg-code>
	<bg-code>Array</bg-code>
	<bg-code>Object</bg-code>
	<bg-code>Date</bg-code>
	<bg-code>Function</bg-code>
	<bg-code>Symbol</bg-code>
</p>