<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Антон Сергеенков. Портфолио Frontend-разработчика</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="../../img/favicon.svg">

	<link rel="stylesheet" href="../basic.css">
	<link rel="stylesheet" href="../layout-cv.css">

	<!-- <link rel="stylesheet" href="./style.css"> -->
</head>
<body>

	<div id="contacts" class="g-wrapper">
		<div class="g-container" v-for="contact in contactsContent">

			<div class="g-header">
				<span class="g-header-text" v-text="contact.title"></span>
			</div>

			<ul class="g-list">
				<li class="g-list-item" v-for="data in contact.data">
					<div class="g-list-item-wrapper">
						<span class="g-list-badge" v-text="data.title"></span>
						<a class="g-list-link" :href="data.url" v-text="data.url" target="_blank"></a>
						<!-- <span class="g-list-badge-outline" v-text="data.username" v-if="data.username !== ''"></span> -->
					</div>
				</li>
			</ul>

		</div>
	</div>

	<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js'></script>
	<script src="./script.js"></script>

</body>
</html>
